.form__{
	&block{
	}
	&panel{
		&.is--leasing{
			&{
				position: relative;
				background-color: @primary;
				padding-top: 20px;
				padding-bottom: 40px;
				.media-breakpoint-down(@md; {
					font-size: 14px;
				});
				.media-breakpoint-up(@md; {
				    padding-top: 2.9vw;
	    			padding-bottom: 6.66vw;
				});
			}
			&-base{	
				position: relative;
				z-index: 1;	
				padding: 25px 55px;
				//overflow: hidden;
				&::before{
					content: '';
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0px;
					right: 0px;
					bottom: 0px;
					background-color: @primary;
					clip-path: polygon(0 7%,100% 0%,100% 93%,0% 100%);
					transition: @trs-site;
				}
				.media-breakpoint-down(@md; {
					&.is--md-open{
						padding:0;
						display: none;
						position: absolute;
						top: 0;
						left: 0;	
						right: 0px;
						bottom: 0%;
						&.is--visible{
							display: block;
						}
						&::before{display: none;}					
					}
				});
				.media-breakpoint-down(@lg; {
					font-size: 16px;
					max-width: 375px;
					.card__wrap.is--seo &{
						display: none;
					}
				});	
				.media-breakpoint-up(@lg; {		
					padding: 40px 0 60px 100px;
					&::before{
						left: 30px;
						right: 70px;
					}
					/*&:hover{
						&::before{
							clip-path: polygon(0 0,100% 7%,100% 100%,0% 93%);
						}
					}*/
				});
			}
			&-order{
				position: relative;
				background-color: @white;
				padding: 16px 16px 25px;
				background-color: @white-f9;
  				box-shadow: 0 6px 14px 0 rgba(0,52,156,0.5);

				.media-breakpoint-up(@lg; {	
					background-color: @white;				
					min-height: 370px;
					padding: 20px 25px 25px;
					box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
					&.is--sm{
						min-height: 250px;
					}
				});
			}
		}
		&.is--vacancies{
			background-color: @primary;
			.media-breakpoint-down(@md; {
				font-size: 16px;
				padding-top: 25px;
				padding-bottom: 25px;
				.page-header__heading{
					text-align: center;
					&:nth-child(2){
						font-size: 14px;
						line-height: 1.5em;
					}
				}
			});
			.media-breakpoint-up(@md; {
			    padding-top: 2.9vw;
    			padding-bottom: 4.1vw;
				padding-left: 15px;
				padding-right: 15px;
			});
		}
		&.is--partners{
			margin-bottom: 40px;
			.media-breakpoint-up(@lg; {
				margin-bottom: 73px;
			});
		}
	}
	&tabs{
		&{
			&.is--login{
				display: flex;
				margin: 0;
				margin-bottom: 20px;
				padding: 0;
				list-style: none;
				font-size: 0.88em;
    			line-height: 0.91em;
				//font-size: @b-fs - 2;
				//line-height: @b-lh - 2;
				.media-breakpoint-up(@lg; {
					margin-bottom: 30px;
					
				});
			}
		}
		&-item{
			&.is--login{
				& + *{
					margin-left: 35px;
				}
				&.active{
					& > *{
						color: @success;
					}
				}
			}
		}
		&-link{
			&.is--login{				
				color: @white-6f; 				
				&:hover{
					color: @success;
				}
			}
		}
	}
	&container{
		position: relative;
		z-index: 2;
		&.is--vacancies{
			max-width: 550px;
			.media-breakpoint-up(@md; {
				padding: 35px 50px;
				border: 2px solid fadeout(@primary-a, 70%);
			});
			.media-breakpoint-up(@lg; {
				max-width: 795px;
				padding: 35px 185px 75px;
			});
		}
	}
	&bg{
		transition: @trs-site;
		&.is--leasing{
			&{
				display: none;
				.media-breakpoint-up(@md; {
					display: block;
					position: absolute;
					opacity: 0.1;
					top: 50%;
					right: -30%;
					width: 500px;
					transform: translate(0, -50%);
					&.is--result{
						right: -10%;
					}	
				});	
				.media-breakpoint-up(@xl; {
					width: 614px;
					right: 20px;	
					&.is--result{
						right: 16%;
					}
				});	
			}
			&-base{
				display: none;
				.media-breakpoint-up(@md; {
					display: block;
					position: absolute;
					z-index: 2;
					opacity: 0.2;
					bottom: 7%;
					right: -100%;
					width: 265px;	
					&.is--result{
						right: -37%;
					}
				});	
				.media-breakpoint-up(@lg; {
					bottom: 7%;
					right: -100%;
					width: 295px;	
					&.is--result{
						right: -7%;
					}
				});	
			}
			&-order{
				display: block;
				position: absolute;
				z-index: 2;
				opacity: 0.2;
				bottom: 12%;
				right: -100%;
				width: 195px;	
				&.is--result{
					right: 4%;
				}
				.media-breakpoint-up(@lg; {
					bottom: 7%;
					width: 235px;	
				});	
			}
		}
	}
	&wrap{
		transition: @trs-site;
		&.is--leasing{
			&-base{
				background-color: @white;
				clip-path: polygon(0 6%,100% 0%,100% 94%,0% 100%);
				padding: 35px 18px;
				.media-breakpoint-down(@md; {
					&.is--md-open{
						position:relative;
						clip-path: none;
						padding: 15px 18px;	
						min-height: 100%;
						&::before{display: none;}						
					}
				});
				.media-breakpoint-up(@lg; {					
					padding: 30px 25px 60px;
					clip-path: none;
					box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
				});
			}
		}
		&.is--vacancies{
		}
		&.is--hidden{
			opacity: 0;
		}
	}
	&result{
		&{	
			overflow: hidden;
			opacity: 0;
			z-index: -1;
			position: absolute;	
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding-left: 15px;
			padding-right: 15px;
			transition: @trs-site;
			&.is--visible{
				z-index: 1;
				opacity: 1;
			}		
			&.is--leasing{		
				&-base{
					background-color: @white;
					top: 25px;
					left: 55px;
					right: 55px;
					bottom: 25px;
					clip-path: polygon(0 6%,100% 0%,100% 94%,0% 100%);
					padding: 35px 18px;
					.media-breakpoint-down(@md; {
						&.is--md-open{
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							clip-path: none;
							padding: 15px 18px;	
							min-height: 100%;
							&::before{display: none;}						
						}
					});
					.media-breakpoint-up(@lg; {
						clip-path: none;
						box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
						top: 40px;
						left: 100px;
						right: 0;
						bottom: 60px;
						padding: 30px 15px 60px 30px;
					});
				}
				&-order{
					background-color: @white;
					padding: 15px;
					.media-breakpoint-up(@md; {
						padding: 25px;
					});
				}
			}
			&.is--vacancies{
				background-color: @primary;
				padding: 25px 15px;
				.media-breakpoint-up(@md; {
					padding: 35px 50px;
				});
				.media-breakpoint-up(@lg; {
					padding: 35px 185px 75px;
				});
			}
		}
		&-img{
			color: @blue-08;
			max-width: 335px;
			height: 335px;
			margin: 0 auto;
			svg{display: block;}
		}
	}
	&step{
		&{
			&.is--leasing{
				&-order{
					display: flex;					
					//font-weight: 100;
					justify-content: space-between;
					list-style: none;
					padding: 0;
					margin: 0;
					font-size: 14px;
					line-height: 20px;
					margin: 0 -16px;
					.media-breakpoint-up(@lg; {
						font-weight: 400;
						margin-bottom: 40px;
						margin-left: -15px;
						//font-size: 12px;
					});
				}
			}
		}
		&-item{
			padding: 0;
			.media-breakpoint-down(@lg; {
				flex: 1 1 0;
			});
		}
		&-link{
			&.is--leasing{
				&-order{
					display: block;
					transition: @trs-site;
					padding: 7px 15px;
					cursor: pointer;
					color: @black-9a;
					&.is--active{
						cursor: default;
						color: @default;
						background-color: @white;
					}
					.media-breakpoint-up(@lg; {
						padding: 0 25px 0 15px;
						.icon-next(@c: '9A9A9A');
						background-position: right 5px;
						&.is--active{
							cursor: default;
							color: @primary;
							//font-size: 16px;
							background-color: fadeout(@white, 100%);
							.icon-next(@c: '004d99');
						}
						.form__step-item:last-child &{
							background: none;
						}
					});
				}
			}
		}
		&-pane{
			&.is--leasing{
				&-order{
					display: none;
					&.is--active{
						display: block;
					}
				}
			}
		}
	}
	&row{
		&.is--leasing{
			&{
				grid-gap: 20px 30px;
				max-width: 370px;
				grid-template-columns: 100%;
				.media-breakpoint-up(@md; {
					grid-gap: 25px 30px;
					grid-template-columns: repeat(3, 1fr); 
					max-width: 850px;
					& > *:nth-child(3){
						grid-row: 2;
						grid-column: 1;
					}	
					& > *:nth-child(4){
						grid-row: 2;
						grid-column: 2;
					}		
					& > *:nth-child(5){
						grid-row: 2;
						grid-column: 3;
						justify-content: flex-end;
						max-width: 248px;
					}				
				});
			}
			&-base{
				//grid-gap: 8px 16px;
				grid-gap: 20px 16px;
				grid-template-columns: 100%;
				.btn__item{
					margin-top: 10px;
					max-width: 100%;
					min-width: 100%;
				}
				.media-breakpoint-up(@lg; {
					grid-gap: 25px 16px;
					.btn__item{
						margin-top: 15px;
						max-width: 200px;
					}
				});
			}
			&-order{
				grid-template-columns: 100%;
			    grid-gap: 24px 16px;
			    margin: 0 -16px;
			    padding: 25px 16px 5px;
			    background-color: @white;
		    	.form__item.is--agreement{
					max-width: 200px;
		    	}
			    .media-breakpoint-down(@lg; {
			    	.btn__item{
			    		margin-top: 8px;
    					padding: 8px 15px;
    					order: 1;
			    	}
		    		.form__item.is--agreement{
			    		margin-top: -10px;
						margin-bottom: -30px;
			    	}
			    });
				.media-breakpoint-up(@lg; {
					margin: 0;
					padding: 0;
					grid-gap: 23px 30px;
					grid-template-columns: repeat(2, 1fr);
				});
			}
		}
		&.is--vacancies{
			grid-gap: 25px 15px;
			.media-breakpoint-down(@md; {				
				grid-template-columns: repeat(2, 1fr); 
				& > *{
					grid-column: span 2;
				}
				& > *:nth-child(8),
				& > *:nth-child(9){
					grid-column: span 1;
					align-self: center;
				}
			});
			.media-breakpoint-up(@md; {
				grid-template-columns: repeat(2, 1fr); 
				& > *:nth-child(1),
				& > *:nth-child(2),
				& > *:nth-child(3),
				& > *:nth-child(6),
				& > *:nth-child(7){
					grid-column: span 2;
				}	
				& > *:last-child{
					justify-self: flex-end;
					min-width: 150px;
				}		
				& > *:nth-child(5){
				}				
			});
		}
		&.is--partners{
			display: flex;
			flex-wrap: wrap;
			margin: -12px -12px 0;
			.media-breakpoint-up(@md; {
				flex-wrap: nowrap;
			});
			& > *{
				margin: 12px 12px 0;
				flex-basis: 100%;
				&.btn__item.is--submit,
				&.btn__item.is--reset{
					max-width: ~"calc(50% - 24px)";
				}
				.media-breakpoint-up(@md; {
					&.form__item{
						max-width: 345px;
					}
					&.btn__item.is--submit,
					&.btn__item.is--reset{
						max-width: 140px;
					}
				});
				.media-breakpoint-up(@lg; {
					&.btn__item.is--submit{
					    max-width: 250px;
					}
					&.btn__item.is--reset{
						max-width: 190px;
					}					
				});
			}		
		}
	}
	&item{
		position: relative;
		&.is--login{
			margin-bottom: 15px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		&.is--filter{
			display: flex;
			align-items: center;
			justify-content: flex-end;	
    		margin-left: auto;	
    		.media-breakpoint-down(@md; {
    			max-width: 270px;
    		});
			.select2-container{
				flex: 1 1 0;
				//width: auto!important;
			}
		}
		/*.select2-container{
			width: 100%!important;
			max-width: 100%;
			
		}*/
		&:not(.is--filter) .select2-container{
			width: 100%!important;
			max-width: 100%;
		}
		&.is--error{
			&::before{
				content: attr(data-error);
				position: absolute;
				color: @red;
				font-weight: 100;
				left: 0;
				top: 0;
				font-size: 12px;
				line-height: 16px;
				transform: translateY(-100%);
			}
			.select2-selection{
				border-color: @red;
			}
		}
	}
	&label{
		&.is--filter{
			font-weight: 700;
			margin-right: 5px;
			.media-breakpoint-up(@md; {
				font-size: 1.33em;
			});			
		}
	}
	&control{
		width: 100%;
		font-weight: 400;
		background: @input_bg;
		border-width: @input_border_width;   
		border-style: solid;   
		border-color: @input_border_color;
		border-radius: @input_radius;	   
		//height: @input_height - 8;
		height: @input_height - 16;
		padding: 5px 15px;
		box-shadow: none;
		&[type="text"]{
			-webkit-appearance: none;
		}
		&[type=number]{ -moz-appearance: textfield; }
		&[type=number]::-webkit-inner-spin-button,
		&[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&[type=tel] {   
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;  
		}
		//text-align: center;
		color: @input_t_color;
		font-size: @input_t_fs - 5;
		line-height: @input_t_lh + 1;
		transition: @trs-site;
		&::-moz-placeholder{
			transition: @trs-site;
			color: @input_plh_color;
			font-size: @input_plh_fs - 5;
			line-height: @input_plh_lh + 1;
		}
		&::-webkit-input-placeholder {
			transition: @trs-site;
			color: @input_plh_color;
			font-size: @input_plh_fs - 5;
			line-height: @input_plh_lh + 1;
			//text-transform: uppercase;
			//letter-spacing: 0.5px;
		}
		&:focus{ 
			outline:none;
			border-color: @input_focus_border_color;
			background-color: @input_focus_bg;
			color: @input_focus_t_color;	
			//&::-moz-placeholder{color: @input_focus_plh_color;}
			//&::-webkit-input-placeholder {color: @input_focus_plh_color;}
		}
		textarea&{
			height: @input_height_textarea;
			padding: 5px 15px;
			background-color: @input_bg;
			border-width: @input_border_width;
			border-style: solid;
			border-color: @input_border_color;
			border-radius: @input_radius;
			.media-breakpoint-up(@md; {
				padding: 10px 15px;
			});
			&:focus{
				border-color: @input_focus_border_color;
			}	
		}
		select&{  
			height: @input_height - 16px;
			padding: 5px 30px 5px 15px;
			.icon-bottom(@c: '636363';);
			background-position: center right 15px;
			appearance: none;
			color: @input_plh_color;
			&::-ms-expand{
			    display: none;
			}
		}
		&.is--primary{
			background-color: @primary;
			border-color: @white;
			color: @white;
			font-size: 12px;
			&::-moz-placeholder{
				color: @white;
			}
			&::-webkit-input-placeholder {
				color: @white;
			}
			.media-breakpoint-up(@md; {
				font-size: 0.95em;
				&::-moz-placeholder{
					font-size: 0.95em;
				}
				&::-webkit-input-placeholder {
					font-size: 0.95em;
				}
			});
			&:focus{
				border-color: @success;
			}
			select&{
				.icon-bottom(@c: 'fff');
			}
		}
		&.is--primary-light{
			background-color: @white;
			border-color: @blue-c6;
			&:focus{
				border-color: @primary;
			}
		}
		&.is--success-black{
			background-color: @black-29;
			border-color: @success;
			&:focus{
				background-color: @white;
			}
		}
		.form__panel.is--leasing-base &{
			.media-breakpoint-down(@md; {
				height: @input_height - 16;
			});
		}
		&.is--search{
			.media-breakpoint-down(@lg; {
				height: @input_height - 8;
			});
		}
		.is--error &{
			border-color: @red;
		}
		.media-breakpoint-up(@lg; {  
			font-size: @input_t_fs;
			line-height: @input_t_lh + 1; 
			height: @input_height;	
			padding: 10px 15px;
			&::-moz-placeholder{
				font-size: @input_plh_fs;
				line-height: @input_plh_lh + 1;
			}
			&::-webkit-input-placeholder {
				font-size: @input_plh_fs;
				line-height: @input_plh_lh + 1;
			}
			select&{  
				height: @input_height;
			}	
		});
		/*&.is--white{ 
			border-color: @input_w_border_color;
			background-color: @input_w_bg;
			color: @input_w_color;
			&::-moz-placeholder{
				color: @input_w_plh_color;
			}
			&::-webkit-input-placeholder {
				color: @input_w_plh_color;
			}
			&:focus{
				background-color: @input_w_focus_bg;
				border-color: @input_w_focus_border_color;
				color: @input_w_focus_color;
				&::-moz-placeholder{
					color: @input_w_focus_plh_color;
				}
				&::-webkit-input-placeholder {
					color: @input_w_focus_plh_color;
				}
			}
			select&{
				color: @white;
				background-color: fadeout(@input_w_bg, 100%);
				&:focus{
					color: @input_w_plh_color;
					background-color: fadeout(@input_w_bg, 0%);
				}
			}
		}*/
	}
	/*&drag{		
		&.is--primary{
			background-color: @primary;
			border-color: @white;
			color: @white;
			font-size: 0.88em;
			text-align: center;
			border: 2px dashed @white;
			border-radius: 10px;
			padding: 20px;
		}
	}*/
	&btn{
		&.is--login{
			.btn__item{
				width: 100%;
				& + * {
					margin-top: 15px;
				}
			}
		}
		&.is--search{
			.media-breakpoint-down(@lg; {
				display: none;
			});
		}
	}
	&text{
		&.is--login{
			margin-top: 5px;
			margin-bottom: 10px;
			font-size: @b-fs - 6;
			line-height: @b-lh - 5;
			font-size: 0.66em;
			line-height: 1.5em;
			a{
				color: #9AA0AC;
				&:hover{
					color: @success;
				}
			}
		}
		&.is--agreement{
			font-size: @input_t_fs - 4;
			line-height: @input_t_lh - 6;
			&.is--primary{
				color: @success;
			}
		}
	}
	//file
	&file{
		position: relative;
		cursor: pointer;
		padding: 10px 20px;
		border: 2px dashed @primary;
		background-color: @white;
		border-radius: 10px;
		font-size: 0.88em;
		text-align: center;	
		.media-breakpoint-up(@md; {
			padding: 20px;			
		});
		&.is--primary{
			background-color: @primary;
			border-color: @white;
			color: @white;
			transition: @trs-site;
			&:hover{				
				border-color: @success;
			}
		}
		&-input{
			position: absolute;
			appearance: none;
			width: 1px;
			height: 1px;
			margin: -1px;
			clip: rect(0 0 0 0);
		}		
		&-name{
			/*line-height: @b-lh - 8;
			color: @file_color;
			border-bottom: 1px solid @file_border_color;
			transition: @trs-site;
			.form__file:hover &,
			.form__file-input:focus + &{
				color: @file_focus_color;
				border-bottom-color: @file_focus_border_color;
			}*/			
		}	
	}
	//reset
	/*&reset{
		&{
			.btn-clearfix();
			display: flex;
			align-items: flex-end;
			font-size: @b-fs - 2;
			line-height: @b-lh - 8;
		}
		&-icon{
			width: @reset_size;
			height: @reset_size - 2;
			margin-right: 5px;
			display: block;
			&-check{
				transition: @trs-site;
				fill: @reset_bg_color;
				.form__reset:focus &,
				.form__reset.is--active &,
				.form__reset:hover &{
					fill: @reset_focus_bg_color;
				}
			}
		}
		&-label{
			border-bottom-width: 1px;
			border-bottom-style: solid;
			transition: @trs-site;
			color: @reset_color;
			border-bottom-color: @reset_border_color;
			.form__reset:focus &,
			.form__reset.is--active &,
			.form__reset:hover &{
				color: @reset_focus_color;
				border-bottom-color: @reset_focus_border_color;
			}
		}
	}*/
	//radio	
	&radio{
		& + &{margin-top: 5px}
		&{
			position: relative;
			display: flex;
			align-items: center;
			text-align: left;	
			color: @radio_color;			
		}
		&-input{
			position: absolute;
			appearance: none;
			width: 1px;
			height: 1px;
			margin: -1px;
			clip: rect(0 0 0 0);
		}
		&-box{
			min-width: @radio_size;
			width: @radio_size;
			height: @radio_size;
			margin-top: -3px;
			background-color: @radio_bg;
			border-radius: @radio_radius;
			box-shadow: 0 0 0 @radio_border_width @radio_border_color;
			margin-right: 8px;
			transition: @trs-site;
			.form__radio-input:focus + &{
				background-color: @radio_focus_bg;
				box-shadow: 
					0 0 0 @radio_border_width @radio_focus_border_color,
					0 0 0 @radio_border_width+2 @radio_focus_shadow;
			}
			.form__radio-input:checked + &{
				background-color: @radio_focus_bg;
				box-shadow: 0 0 0 @radio_border_width @radio_focus_border_color;
			}
			.form__radio-input:checked:focus + &{
				background-color: @radio_focus_bg;
				box-shadow: 
					0 0 0 @radio_border_width @radio_focus_border_color,
					0 0 0 @radio_border_width+2 @radio_focus_shadow;
			}
			.form__radio-input:disabled + &,
			.form__radio-input:checked:disabled + &{
				background-color: @radio_disabled_bg;
				box-shadow: none;
			}
		}
		&-icon{
			path{				
				transform: scale(3);
				transform-origin: center;
				fill: @radio_icon;
				transition: @trs-site;
				.form__radio-input:focus:checked + * &,
				.form__radio-input:checked + * &{
					transition: all @trs-option 0.2s;
					transform: scale(1);
					fill: @radio_focus_icon;
				}
				// white 
				// .form__radio-input.is--white:focus:checked + .form__radio-box &,
				// .form__radio-input.is--white:checked + .form__radio-box &,
				// .form__radio-input.is--danger:focus:checked + .form__radio-box &,
				// .form__radio-input.is--danger:checked + .form__radio-box &{
				// 	fill: @check_w_focus_icon;
				// }

				// disabled 
				.form__radio-input:disabled:checked + * &{
					fill: @radio_disabled_icon;
				}

				//.form__radio-input.is--danger:disabled:checked + .form__radio-box &,
				//.form__radio-input.is--white:disabled:checked + .form__radio-box &{
				//	fill: @check_w_disabled_icon;
				//}
			}
		}
	}
	//check
	&checkbox{
		&{
			position: relative;
			display: flex;
			align-items: center;
			font-size: @check_fs;
			line-height: @check_lh;
			//color: @success;
			/*&.is--danger,
			&.is--white{
				color: @check_w_color;
			}*/
			& + &{margin-top: 5px}
			transition: @trs-site;
			&.is--primary{
				color: @success;
			}
			&.is--success{
				color: @success;
			}
			&.is--sm{    
				font-size: .65em;
    			line-height: 1.4em;
			}
			&.is--catalog-filter{
				& + &{margin-top: 20px}
			}
			sup{
				font-weight: 100;
				color: @success;
				margin-left: 10px;
			}
			&.is--hidden{
				//opacity: 0;
				display: none;
			}
			&.is--visible{
				//opacity: 1;
				display: flex;
			}
			.form__panel.is--vacancies &{
				color: @white;
			}
		}
		&-input{
			position: absolute;
			appearance: none;
			width: 1px;
			height: 1px;
			margin: -1px;
			clip: rect(0 0 0 0);
		}
		&-icon{
			position: relative;
			margin-top: -3px;
			min-width: @check_size;
			width: @check_size;
			height: @check_size;
			background-color: @check_bg;
			margin-right: 15px;
			transition: @trs-site;
			border: @check_border_width solid @check_border_color;
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-position: center;
				transform: scale(3);
				opacity: 0;
				.icon-checked(@c: '333');
				transition: @trs-site;
			}
			.form__checkbox-input:focus + &{
				//border-color: @check_focus_border_color;
			}
			.form__checkbox-input:checked + &{
				//border-color: @check_focus_border_color;
				&::after{
					opacity: 1;
					transform: scale(1);
					transition: all @trs-option 0.2s;
				}
			}
			.form__check-input:checked:focus + &{
			}
			.form__checkbox-input:disabled + &,
			.form__checkbox-input:checked:disabled + &{
				//background-color: @check_disabled_bg;
				border-color: @check_disabled_border_color;
			}
			&.is--primary{
				background-color: @primary;
				border-color: @success;
				&::after{
					.icon-checked(@c: 'F99F1B');
				}
			}
			.form__panel.is--vacancies &{
				background-color: @primary;
				border-color: @white;
				&::after{
					.icon-checked(@c: 'fff');
				}
			}
			&.is--success{
				border-color: @success;
				&::after{
					.icon-checked(@c: 'F99F1B');
				}
			}
			/*// white 
			&.is--danger,
			&.is--white{
				background-color: @check_w_bg;
				box-shadow: 
					0 0 0 @check_border_width @check_w_border_color;

				.form__check-input:focus + &{
					background-color: @check_w_bg;
					box-shadow: 
						0 0 0 @check_border_width @check_w_focus_border_color,
						0 0 0 @check_border_width+2 @check_w_focus_shadow;
				}
				.form__check-input:checked + &{
					background-color: @check_w_focus_bg;
					box-shadow: 0 0 0 @check_border_width @check_w_focus_border_color;
				}
				.form__check-input:checked:focus + &{
					background-color: @check_w_focus_bg;
					box-shadow: 
						0 0 0 @check_border_width @check_w_focus_border_color,
						0 0 0 @check_border_width+2 @check_w_focus_shadow;
				}
				.form__check-input:disabled + &,
				.form__check-input:checked:disabled + &{
					background-color: @check_w_disabled_bg;
					box-shadow: 0 0 0 @check_border_width  @check_w_disabled_border_color;
				}
			}*/
		}
	}
	//filter
	/*&filter{
		&{
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		&-label{
			font-weight: 700;
			//max-width: 150px;
			.media-breakpoint-up(@md; {
				font-size: 1.33em;
			});
		}
		&-select{			
			color: @black-63; 
			border: 0;
			padding: 0 20px 0 0;
			margin-left: 5px;
			background-color: fadeout(@white, 100%);
			max-width: 100px;
			background-position: center right;
			.icon-bottom(@c: '636363'; @w: 16px; @h: auto);
			appearance: none;
			&::-ms-expand{
			    display: none;
			}
			.media-breakpoint-up(@md; {
				font-size: 1.33em;
				max-width: 155px;
			});
		}
	}*/
	//search
	&search{
		&{
			position: relative;
			.media-breakpoint-up(@lg; {
				display: flex;
			});
			&.is--page{
				&-vacancies{
					margin-bottom: 40px;
					.media-breakpoint-up(@md; {
						margin-bottom: 20px;
					});
				}
				&-catalog{
					margin-bottom: 55px;
				}
			}
		}
		&-input{
			.media-breakpoint-down(@lg; {
				input{
					padding-right: 45px;
				}
			});
			.media-breakpoint-up(@lg; {				
				flex: 1 1 0;
				margin-right: 30px;
			});
			&.is--page{
				&-404{					
					margin: 0;
					input{
						height: @input_height - 16;
						padding: 5px 45px 5px 15px;
						font-size: @input_plh_fs - 4;
						line-height: @input_plh_lh + 1;
						&::-moz-placeholder{
							font-size: @input_plh_fs - 4;
							line-height: @input_plh_lh + 1;
						}
						&::-webkit-input-placeholder {
							font-size: @input_plh_fs - 4;
							line-height: @input_plh_lh + 1;
						}
					}
				}
			}
		}
		&-btn{
			button{
				min-width: 155px;
			}
			.media-breakpoint-down(@lg; {
				display: none;
			});
			&.is--page{
				&-404{
					display: none;
				}
			}
		}
		&-icon{
			position: absolute;
			top: 0;
			right: 0;
			.btn-clearfix();
			width: 40px;
			height: 40px;
			padding: 10px;
			color: @primary;
			.media-breakpoint-up(@lg; {
				display: none;
			});
			&.is--success-black{
				color: @success;
			}
			&.is--page{
				&-404{
					display: block;
					width: 32px;
					height: 32px;
					padding: 8px;
					color: @white;
				}
			}
		}
		/*display: flex;
		&-input{
			display: block;
			width: 100%;
			border-width: 1px;
			border-style: solid;
			border-color: @search_border_color;
			border-right: 0;
			background-color: @search_input_bg;
			padding: 0 20px;
			height: @search_height;
			transition: @trs-site;
			color: @search_input_color;
			font-size: @b-fs - 6;
			line-height: @b-lh - 6;
			border-radius: @search_radius 0 0 @search_radius;
			&::-moz-placeholder{
				color: @search_input_color;
				transition: @trs-site;
			}
			&::-webkit-input-placeholder {
				color: @search_input_color;
				transition: @trs-site;
			}
			&:focus{
				color: @search_input_f_color;
				background-color: @search_input_f_bg;
				&::-moz-placeholder{
					color: @search_input_f_color;
				}
				&::-webkit-input-placeholder {
					color: @search_input_f_color;
				}
			}
		}
		&-btn{
			.btn-clearfix();
			width: @search_height + 8;
			height: @search_height;
			border-radius: 0 @search_radius @search_radius 0;
			border-width: 1px;
			border-style: solid;
			border-color: @search_border_color;
			border-left: 0;
			background-color: @search_btn_bg;
			color: @search_btn_color;
			padding: 13px 16px ;
			svg{display: block;}
			.form__search-input:focus + &{
				//border-color: @b-color-a;
			}
			&:hover{
				color: @search_btn_f_color;
				background-color: @search_btn_f_bg;
			}		
		}*/
	}
}
// === select2 === //
.select2{
	&-hidden-accessible {
		border: 0 !important;
		clip: rect(0 0 0 0) !important;
		-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
		height: 1px !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
		white-space: nowrap !important;
	}
	&-container {
		display: inline-block;
		position: relative;	
		//.media-breakpoint-down(@md; {
			//width: 100%!important;
			//max-width: 100%;
		//});
	}
	&-selection{		
		display: flex;
		position: relative;
		align-items: center;
		padding: 10px 15px;
		height: @input_height - 16;
		background-color: @white;
		.icon-bottom(@c: '004d99'; @w: 10px; @h: auto);
		background-position: center right 15px;
		border: 1px solid @white;
		cursor: pointer;
		&[aria-expanded="true"]{
			border-color: @blue-c6;
		}
		.media-breakpoint-down(@lg; {			
			font-size: 13px;
		});
		.media-breakpoint-up(@lg; {				
			height: @input_height;
		});

		&.is--primary{
			border-color: @white;
			background-color: @primary;
			color: @white;
			font-size: .82em;
			.icon-bottom(@c: 'fff'; @w: 10px; @h: auto);
		}

		&.is--primary-light{
			border-color: @blue-c6;
			color: @input_plh_color;
			.icon-bottom(@c: '636363'; @w: 10px; @h: auto);
			&[aria-expanded="true"]{
				border-color: @primary;
			}
		}
		&.is--inline{
			border-color: fadeout(@white, 100%); 
			padding: 0;
			color: @black-63; 
			padding: 0 20px 0 0;
			margin-left: 5px;
			background-position: center right;
			.icon-bottom(@c: '636363'; @w: 16px; @h: auto);
			.media-breakpoint-down(@md; {			
				font-size: 18px;
			});
			.media-breakpoint-up(@md; {
				font-size: 1.33em;
			});
		}
		/*&__rendered{
			text-overflow: ellipsis;
		    white-space: nowrap;
		    overflow: hidden;			
		}*/
	}
	&-search {
		display: none;
	}
	&-dropdown {
		font-size: 0.88em;
		background-color: @white;
		border: 1px solid @blue-c6;

		display: block;
		position: absolute;
		left: -100000px;
		width: 100%;
		z-index: 1000; 
		margin-top: -1px;
		.select2-container--open &{left: 0;}
		&.is--primary{
			background-color: @primary;
			border-color: @white;
		}
		&.is--primary-light{
			border-color: @primary;			
		}
		&.is--inline{
			border-color: fadeout(@white, 100%); 
		}
	}
	&-results {
		&{
		    position: relative;
			display: block; 
		}
		&__options {
			list-style: none;
			margin: 0;
			padding: 0;
			padding: 15px;
			max-height: 185px;
		    overflow-x: hidden;
		    overflow-y: auto;
		}
		&__option {
		    display: list-item;
			margin-bottom: 10px;
			color: @black-98;
			transition: @trs-site;
			cursor: pointer;
			&--highlighted,
			&:hover{
				color: @default;
			}
			&:last-child{
				margin-bottom: 0;
			}
			&[aria-disabled="true"]{
				color: fadeout(@black-98, 50%);
			}
			.select2-dropdown.is--primary &{
				color: @white;
				&:hover,
				&--highlighted{
					color: @success;
				}
				&[aria-disabled="true"]{
					color: fadeout(@white, 50%);
				}
			}
		}
	}
}

/*
// === formError === //
.formError { 
	z-index: 990;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	cursor: pointer;
	text-align: left;
	.formErrorContent { 
		z-index: 991;
		position:relative;
		width: 100%;
		min-width: 120px;
		background-color: @form_error_bg;
		color: @form_error_text_color;
		font-size: @form_error_fs;
		line-height: @form_error_lh;
		border: @form_error_border_width solid @form_error_border_color ;
		padding: 5px 10px;
		border-radius: @form_error_radius ;
	    text-transform: uppercase;
	    .greenPopup &{ 
	    	background: @form_error_bg_pass;
	    }
	    .blackPopup &{ 
	    	background: @form_error_bg_load;  
	    }
	}
	.formErrorArrow { 
		z-index: 996;
		position:relative;
		width: 16px;
		margin-left: 10px;
	    border-top: 10px solid fadeout(@form_error_bg, 0%);
	    border-left: 8px solid fadeout(@form_error_bg, 100%);
	    border-right: 8px solid fadeout(@form_error_bg, 100%);
	    &.formErrorArrowBottom {
			border-top: 0;
		    border-bottom: 10px solid fadeout(@form_error_bg, 0%);
		}
	    .greenPopup &{ 
	    	border-top-color: @form_error_bg_pass;
		    &.formErrorArrowBottom {
			    border-bottom-color: @form_error_bg_pass;
			}
	    }
	    .blackPopup &{ 
	    	border-top-color: @form_error_bg_load;
		    &.formErrorArrowBottom {
			    border-bottom-color: @form_error_bg_load;
			} 
	    }
	}

	&.inline {
		position: relative;
		display: inline-block;
		.formErrorContent {
			border: none;
			border-radius: 0;
		}
	}
	.ui-dialog &{
		z-index: 5000; 
		.formErrorContent { z-index: 5001; }
		.formErrorArrow { z-index: 5006; }
	}
}
.inputContainer {
	position: relative;
	float: left;
}
.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}*/