<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Ничего не найдено!"}  %}
	</head>
    <body>
        {% include "../block/page/404.twig" with {
            view:"404_page", 
            content_prefix:"content-block__", 
            content_mod:"is--page-404", 
            heading_mod:"is--page-404", 
            heading_level:"h1", 
            heading:"Ничего не найдено!", 
            heading_xl_mod:"is--page-404-xl", 
            heading_xl_level:"p", 
            heading_xl:"404", 
            bg:[path.img,"/default/404.svg"].join(""),
            list: [
                {
                    "name":"Главная", 
                    "link":page.index
                },
                {
                    "name":"Каталог техники", 
                    "link":page.catalog
                },
                {
                    "name":"Лизинговые программы", 
                    "link":page.leasing
                },
            ]            
        } %}  
    	{% include "../block/common/script/script.twig"%}
	</body>
</html> 
