<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Карточка статьи"}  %}
	</head>
	<body>
    	{% include "../block/common/navbar/navbar.twig" with {navbar_prefix:"navbar__"} %}
		<main class="content-block__panel">
			{% include "../block/page/about/articles.twig" with {
				view:"articles_card", 
				content_prefix:"content-block__", 
				content_mod:"is--page-news-card", 
				heading_group:"margin--default", 
				heading_mod:"is--hXL  fw--700  color--primary-l", 
				heading_level:"h1", 
				heading:"Статьи", 
				heading_sm:"Полуприцеп рефрижератор б/у в лизинг", 
				bread_mod:"",
				bread:[
					{name:"Главная", link:page.index},
					{name:"Статьи", link:page.articles},
					{name:"Полуприцеп рефрижератор б/у в лизинг"}
				]
			} %}
			{% include "../block/common/form/form.twig" with {
				view: 			"leasing", 
				prefix:			prefix.form, 
				mod:			"is--leasing", 
				color:			"is--primary", 
				ID: 			"f_leasing", 
				heading:		"Нужна техника в лизинг?", 
				heading_level:	"h3", 
				heading_mod:	"is--h1  color--white  fw--700  margin--tiny",
				heading_sm:		"Оставьте заявку, и наш консультант <br>перезвонит вам и отправит информацию на почту!", 
				heading_sm_level:	"p", 
				heading_sm_mod:	"color--white  fw--100  margin--medium",
				heading_r:		"Спасибо!<br>Заявка отправлена", 
				heading_r_level:"h3", 
				heading_r_mod:	"is--h1  color--white  fw--700  margin--tiny",
				heading_r_sm:	"В ближайшее время наш консультант свяжется с вами!", 
				heading_r_sm_level:	"p", 
				heading_r_sm_mod:	"color--white  margin--large"
			} %}

            {% include "../block/page/leasing/tpl.twig" with {
                view:"leasing_block", 
                content_prefix:"content-block__", 
                content_mod:"is--page-news-leasing"
            } %}
		</main>

    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

    	{# {% include "../block/common/modals/include.twig"%} #}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>