<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Каталог"}  %}
	</head>
	<body>
    	{% include "../block/common/navbar/navbar.twig" with {navbar_prefix:"navbar__"} %}
		<main class="content-block__panel">
			{% include "../block/page/catalog/page.twig" with {
				view:"catalog_page", 
				content_prefix:"content-block__", 
				content_mod:"is--page-catalog", 
				heading_group:"margin--default", 
				heading_mod:"is--hXL  fw--700  color--primary-l", 
				heading_level:"h1", 
				heading:"Каталог", 
				bread_mod:"",
				bread:[
					{name:"Главная", link:page.index},
					{name:"Каталог"}
				],
				bread:"Новости" 
			} %}
			{# {% include "../block/page/index/programm.twig" with {
				content_prefix:"content-block__", 
				content_mod:"is--index-programm"
			} %} #}
		</main>
		
    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

    	{# {% include "../block/common/modals/include.twig"%} #}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>