<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Контакты"}  %}
	</head>
	<body>
    	{% include "../block/common/navbar/navbar.twig" with {navbar_prefix:"navbar__"} %}

		{% include "../block/page/contacts/page.twig" with {
			content_prefix:"content-block__", 
			content_mod:"is--page-contacts", 
			heading_mod:"margin--default  is--hXL  fw--700  color--primary-l", 
			heading_level:"h1", 
			heading:"Контакты", 
			bread_mod:"",
			bread:[
				{name:"Главная", link:page.index},
				{name:"Контакты"}
			],
		} %}
		
    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

    	{% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig" with {map: "view"}%}
	</body>
</html>