<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Инвесторам"}  %}
	</head>
	<body>
    	{% include "../block/common/navbar/navbar.twig" with {navbar_prefix:"navbar__"} %}

        <main class="content-block__panel"> 
			{% include "../block/page/investors.twig" with {
				view:"investors_header", 
				content_prefix:"content-block__", 
				content_mod:"is--page-investors-header",
				heading_mod:"is--page-default", 
				heading_level:"h1", 
				heading:"Инвесторам", 
				bread_mod:"",
				bread:[
					{name:"Главная", link:page.index},
					{name:"Инвесторам"}
				]
			} %}

            {% include "../block/page/investors.twig" with {
                view:"investors_info",  
                content_prefix:"content-block__", 
                content_mod:"is--page-investors-info",
                heading_mod:"is--h1  fw--700  color--white  is--page-investors-info", 
                heading_level:"h2", 
                heading:"Сведения для инвесторов",
                heading_n_mod:"is--h4  fw--100  color--white  is--page-investors-info-note", 
                heading_n_level:"p", 
                heading_n:"Элемент Лизинг предоставляет готовые и&nbsp;комплексные решения по&nbsp;лизингу коммерческого автотранспорта и&nbsp;производственного оборудования предприятиям малого и&nbsp;среднего бизнеса.",
                bg:[path.img,"/default/investors-header.svg"].join(""),
                bg_xs:[path.img,"/default/investors-header-xs.svg"].join(""),
                bg:"http://via.placeholder.com/662x396",
                docs_name:"Скачать презентацию PDF",
                docs:[path.docs,"/investors-info.pdf"].join(""),
            } %}

            {% include "../block/page/index.twig" with {
                view:"index_adv", 
                content_prefix:"content-block__", 
                content_mod:"is--page-investors-adv",
                block_mod:"is--block-adv",
                heading_mod:"is--h1  fw--500  is--index-adv", 
                heading_level:"h2", 
                heading:"Элемент Лизинг в цифрах",  
                tabs:"index_a_",  
                list:[
                    {
                        id:"item1",
                        status:"active",
                        name:"Наши достижения", 
                        note:'
                           <h3>15 лет успешной работы</h3>
                           <p>Разрабатываются новые продукты: оперативный лизинг, финансирование для физических лиц. Компания «Элемент Лизинг» становится лидером по&nbsp;финансированию новых сделок в&nbsp;сегменте малого и&nbsp;среднего бизнеса и&nbsp;занимает <nobr>1-е</nobr> место по&nbsp;финансированию грузового автотранспорта среди российских лизингодателей.</p>
                        ',
                        preview:[
                            {
                                preview:[path.img,"/default/index-adv1.svg"].join(""),
                            },
                            {
                                preview:[path.img,"/default/index-adv2.svg"].join(""),
                            },
                            {
                                preview:[path.img,"/default/index-adv3.svg"].join(""),
                            }
                        ]
                    },
                    {
                        id:"item2",
                        status:"",
                        name:"Оформленные договоры",
                        note:'
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ipsam nisi vero quo consectetur beatae sunt, sit error quidem esse, magni, numquam facilis eos placeat suscipit voluptate eveniet? A voluptas esse neque earum veniam impedit officia vel consequatur aperiam exercitationem, dolores, temporibus nisi nemo provident repudiandae aspernatur incidunt ea non.</p>
                        '
                    },
                    {
                        id:"item3",
                        status:"",
                        name:"Действующие договоры",
                        note:'
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, quia.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae cupiditate adipisci nisi sint eum est aspernatur, voluptas culpa ipsam.</p>
                        '
                    },
                    {
                        id:"item4",
                        status:"",
                        name:"Размер капитала Элемент Лизинг",
                        note:'
                            <h3>Lorem ipsum.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cupiditate incidunt nemo aut numquam blanditiis, minima possimus! Consequatur pariatur maxime inventore fugit, eaque minus iusto, asperiores autem velit atque voluptate illum sapiente numquam rem odit nostrum delectus quas? Eaque, non, molestias. Ut, rem vero quia accusamus ipsum nam velit sapiente!</p>
                        '
                    }
                ],
            } %}

            {% include "../block/page/investors.twig" with {
                view:"investors_docs", 
                content_prefix:"content-block__", 
                content_mod:"is--page-investors-docs",
                heading_mod:"is--h1  fw--700  is--page-investors-docs", 
                heading_level:"h2", 
                heading:"Документы", 
                note:"ООО «Элемент Лизинг» раскрывает всю информацию в настоящем разделе сайта, а также на странице в сети Интернет ООО «Интерфакс-ЦРКИ» – информационного агентства, аккредитованного ЦБ РФ на раскрытие информации.", 
                bg:[path.img,"/default/bg-investors-docs.jpg"].join(""),
                list:[
                    {
                        name:"Отчеты",
                        link:"#",
                    },
                    {
                        name:"Реквизиты",
                        link:page.requisites,
                    },
                    {
                        name:"Сведения о выпуске ценных бумаг",
                        link:page.securities,
                    },
                    {
                        name:"Сообщения о существенных фактах",
                        link:"#",
                    },
                    {
                        name:"Учредительные и внутренние документы",
                        link:"#",
                    },
                    {
                        name:"Новости",
                        link:"#",
                    }
                ],
            } %}

			{% include "../block/page/leasing/tpl.twig" with {
				view:"leasing_adv", 
				content_prefix:"content-block__", 
				content_mod:"is--leasing-adv",
				heading_mod:"is--h1  fw--700  color--white  is--leasing-adv", 
				heading_level:"h2", 
				heading:"Преимущества работы <br>с Элемент Лизинг",  
				list:[
					{
						status:"active",
						name:"1. Выгодные условия лизинговых программ", 
						icon:[path.img,"/default/leasing-cup.svg"].join(""), 
						preview:[path.img,"/default/leasing-adv1.svg"].join(""),
						note:'Лизинговые услуги относятся к расходам предприятия и позволяют снизить налог на прибыль компании, а также вернуть до 20% НДС от стоимости объекта лизинга.'
					}
				],
			} %}

            {% include "../block/page/investors.twig" with {
                view:"investors_finance", 
                content_prefix:"content-block__", 
                content_mod:"is--page-investors-finance",
                heading_mod:"fw--700  color--white  is--page-investors-finance", 
                heading_level:"h2", 
                heading:"Финансовые показатели*", 
                list:[
                    {
                        name:"4,8",
                        note:"Отношение чистого долга к капиталу",
                        link:"#",
                    },
                    {
                        name:"13,3 млрд&nbsp;₽",
                        note:"Лизинговый портфель до вычета резервов",
                        link:"#",
                    },
                    {
                        name:"15,7%",
                        note:"Показатель достаточности капитала",
                        link:"#",
                    },
                    {
                        name:"36,4%",
                        note:"Рентабельность капитала",
                        link:"#",
                    },
                    {
                        name:"4,8",
                        note:"Отношение чистого долга к капиталу",
                        link:"#",
                    }
                ],
            } %}

            {% include "../block/page/about/news.twig" with {
                view:"news_block", 
                content_prefix:"content-block__", 
                content_mod:"is--block-news",               
                heading_mod:"is--h1  fw--700  is--block-news", 
                heading_level:"h2", 
                heading:"Новости",
                link:"Все новости",
                link_href:page.news
            } %}
		</main>
    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

    	{# {% include "../block/common/modals/include.twig"%} #}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>