<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Карьера"}  %}
	</head>
	<body>
    	{% include "../block/common/navbar/navbar.twig" with {navbar_prefix:"navbar__"} %}
		<main class="content-block__panel">
			{% include "../block/page/about/vacancies.twig" with {
				view:"karera_page", 
				content_prefix:"content-block__", 
				content_mod:"is--page-vacancies", 
				heading_mod:"is--page-default", 
				heading_level:"h1", 
				heading:"Карьера", 
				bread_mod:"",
				bread:[
					{name:"Главная", link:page.index},
					{name:"Карьера"}
				]
			} %}
		</main>
		
    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

    	{# {% include "../block/common/modals/include.twig"%} #}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>