<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"about"}  %}
	</head>
	<body>
    	{% include "../block/common/navbar/navbar.twig" with {navbar_prefix:"navbar__", navbar_mod:"is--scroll"} %}

		{% include "../block/page/about/menedzhment.twig" with {
			content_prefix:"content-block__", 
			content_mod:"is--menedzhment-page", 
			heading_group:"", 
			heading_mod:"margin--default  is--hXL  fw--700  color--primary-l", heading_level:"h1", 
			heading:"Руководство", 
			bread_mod:"",
			bread:[
				{name:"Главная", link:page.index},
				{name:"Руководство"}
			],
			bread:"Руководство" 
		} %}

    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

    	{% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>