<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Новости"}  %}
	</head>
	<body>
    	{% include "../block/common/navbar/navbar.twig" with {navbar_prefix:"navbar__"} %}
		<main class="content-block__panel">
			{% include "../block/page/about/news.twig" with {
				view: "news_page",
				content_prefix:"content-block__", 
				content_mod:"is--page-news", 
				heading_group:"margin--default", 
				heading_mod:"is--hXL  fw--700  color--primary-l", 
				heading_level:"h1", 
				heading:"Новости", 
				bread_mod:"",
				bread:[
					{name:"Главная", link:page.index},
					{name:"Новости"}
				],
				bread:"Новости" 
			} %}
            {% include "../block/page/leasing/tpl.twig" with {
                view:"leasing_block", 
                content_prefix:"content-block__", 
                content_mod:"is--page-news-leasing",
                content_group:"hidden--md"
            } %}
            {% include "../block/common/form/form.twig" with {
				view: 			"inline", 
				prefix:			"form__", 
				open:			"true", 
				group:			"visible--md", 
				mod:			"is--inline", 
				color:			"is--primary-light", 
				ID: 			"f_call",  

				heading:		"Обратный звонок", 
				heading_level:	"h3", 
				heading_group:	"", 
				heading_mod:	"is--h3  fw--700  is--form-inline",
				heading_sm:		"Оставьте заявку, и мы перезвоним в удобное для вас время!", 
				heading_sm_level:"p", 
				heading_sm_mod:	"fw--100  is--form-inline-xs",
				heading_r:		"Спасибо!<br> Заявка отправлена", 
				heading_r_level:"h3", 
				heading_r_mod:	"is--h3 fw--700  is--form-inline-result",
				heading_r_sm:	"В указанное время с вами свяжется наш специалист и ответит на все интересующие вас вопросы.", 
				heading_r_sm_level:	"p", 
				heading_r_sm_mod:	"fw--100  is--form-inline-note"
			} %}
		</main>
		
    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

    	{# {% include "../block/common/modals/include.twig"%} #}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>