<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Партнеры"}  %}
	</head>
    <body>
    	{% include "../block/common/navbar/navbar.twig" with {navbar_prefix:"navbar__"} %}

        <main class="content-block__panel">
            {% include "../block/page/partners.twig" with {
                view:"partners_page", 
                content_prefix:"content-block__", 
                content_mod:"is--page-partners", 
                heading_mod:"is--hXL  fw--700  color--primary-l  is--page-partners", 
                heading_level:"h1", 
                heading:"Партнеры", 
                bread_mod:"",
                bread:[
                    {name:"Главная", link:page.index},
                    {name:"Партнеры"}
                ], 
                list: [
                    {
                        "heading":"РМ-Терекс", 
                        "link":"rm-terex.com", 
                        "img":[path.img,"/default/partners-09.svg"].join(""), 
                        "note":"РМ-Терекс, одна из ведущих машиностроительных компаний России, специализирующаяся на производстве строительно-дорожной техники, объединяет четыре машиностроительных завода: Тверской экскаватор, Брянский арсенал, Челябинские строительно-дорожные машины, Заволжский завод гусеничных тягачей."
                    },
                    {
                        "heading":"ГАЗ", 
                        "link":"azgaz.ru", 
                        "img":[path.img,"/default/partners-11.svg"].join(""), 
                        "note":"ГАЗ занимает особое место в автомобилестроении — это единственный в России завод, который выпускает самую широкую гамму грузовых автомобилей, спецтехнику, автокомпоненты."
                    },
                    {
                        "heading":"УРАЛ", 
                        "link":"uralaz.ru", 
                        "img":[path.img,"/default/partners-03.svg"].join(""), 
                        "note":"Российский производитель грузовых автомобилей. Автомобили УРАЛ  подходят для работы в любых условиях, уверенно ведут себя на дорогах с любым покрытием и, что самое главное, — заботятся о комфорте водителя и пассажиров."
                    },
                    {
                        "heading":"КАМАЗ", 
                        "link":"kamaz.ru", 
                        "img":[path.img,"/default/partners-15.svg"].join(""), 
                        "note":"Российская компания, производитель дизельных грузовых автомобилей и дизелей, действующий с 1976 года. Также выпускает автобусы, тракторы, комбайны, электроагрегаты, тепловые мини-электростанции и комплектующие."
                    },
                    {
                        "heading":"Русбизнесавто", 
                        "link":"rbauto.ru", 
                        "img":[path.img,"/default/partners-10.svg"].join(""), 
                        "note":"Русбизнесавто — ведущий оператор на рынке продаж грузовой автотехники, автобусов и спецтехники, обладатель сети современных станций технического обслуживания и ремонта грузовой автотехники, а также один из лидеров по организации снабжения предприятий запасными частями к грузовым автомобилям."
                    },
                    {
                        "heading":"Русские автобусы", 
                        "link":"bus.ru", 
                        "note":"Российский холдинг, объединяющий производителей автобусов разных классов: ПАО «Павловский автобусный завод» — малый класс, а также автобусы среднего класса семейства «Аврора»; ООО «Курганский автобусный завод» — средний класс и специальная техника."
                    },
                ]            
            } %}           
        </main>

    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

        {# {% include "../block/common/modals/include.twig"%} #}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html> 
