<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Отзывы"}  %}
	</head>
	<body>
    	{% include "../block/common/navbar/navbar.twig" with {navbar_prefix:"navbar__"} %}

		{% include "../block/page/about/reviews.twig" with {
			content_prefix:"content-block__", 
			content_mod:"is--reviews-page", 
			heading_group:"", 
			heading_mod:"margin--default  is--hXL  fw--700  color--primary-l", heading_level:"h1", 
			heading:"Отзывы", 
			bread_mod:"",
			bread:[
				{name:"Главная", link:page.index},
				{name:"Отзывы"}
			],
			list:[
				{
					firm:"ООО «Савтрансавто» (Ростов-на-Дону)", 
					date:"20.11.2019 15:37:00", 
					date_iso:"2019-11-20",
					note: "<p>Если кратко, то я работаю с «Элемент Лизинг» из-за одного человека. Это Денис Довгалев, сотрудник компании. Денис – настоящий профессионал своего дела, побольше бы таких!</p>",
					name:"Иванов Олег Иванович", 
					city:"г. Ростов-на-Дону", 
					email: "glav.buh@savtransavto.com", 
					video: true 
				},
				{
					firm:"ИП Фомин Александр Константинович (Тамбов)", 
					date:"20.11.2019 15:37:00", 
					date_iso:"2019-11-20",
					note: "<p>С компанией «Элемент Лизинг» я был знаком еще по прежней работе. Я был начальником СТО, а несколько новых автомобилей были куплены в лизинг как раз в этой компании. Поэтому, при возникновении каких-то вопросов по этим машинам, например, в случае аварии и т.д., я звонил менеджеру Марии Кривопаловой, которая всегда помогала. Недавно я открыл свое дело, и возникла необходимость в собственном автопарке. Конечно, я начал с изучения рынка лизинговых компаний. Сравнил условия нескольких топовых компаний и выбрал «Элемент Лизинг». Сейчас я также продолжаю работать с Марией Кривопаловой, но теперь уже в другом статусе.</p><p>Мария предложила оптимальные условия финансирования и по-человечески вникла в ситуацию, в отличие от сотрудников «ВТБ-лизинг». Очень удобно то, что у Марии плотные трудовые отношения с автосалоном ГАЗ. В ближайшее время я планирую приобрести 10 единиц ГАЗ-3302 и уже предупредил об этом Машу (смеется)!</p>",
					name:"Фомин Александр Константинович (ИП)", 
					city:"г. Тамбов"
				},
				{
					firm:"ООО «Савтрансавто» (Ростов-на-Дону)", 
					date:"20.11.2019 15:37:00", 
					date_iso:"2019-11-20",
					note: "<p>Если кратко, то я работаю с «Элемент Лизинг» из-за одного человека. Это Денис Довгалев, сотрудник компании. Денис – настоящий профессионал своего дела, побольше бы таких! Денис – настоящий профессионал своего дела, побольше бы таких!</p>",
					name:"Иванов Олег Иванович", 
					email: "glav.buh@savtransavto.com", 
					video: true 
				},
				{
					firm:"ООО «Савтрансавто» (Ростов-на-Дону)", 
					date:"20.11.2019 15:37:00", 
					date_iso:"2019-11-20",
					note: "<p>Если кратко, то я работаю с «Элемент Лизинг» из-за одного человека. Это Денис Довгалев, сотрудник компании. Денис – настоящий профессионал своего дела, побольше бы таких! Денис – настоящий профессионал своего дела, побольше бы таких!</p>",
					name:"Иванов Олег Иванович", 
					email: "glav.buh@savtransavto.com", 
					video: true 
				},
				{
					firm:"ООО «Савтрансавто» (Ростов-на-Дону)", 
					date:"20.11.2019 15:37:00", 
					date_iso:"2019-11-20",
					note: "<p>Если кратко, то я работаю с «Элемент Лизинг» из-за одного человека. Это Денис Довгалев, сотрудник компании. Денис – настоящий профессионал своего дела, побольше бы таких! Денис – настоящий профессионал своего дела, побольше бы таких!</p>",
					name:"Иванов Олег Иванович", 
					email: "glav.buh@savtransavto.com", 
					video: true 
				},
				{
					firm:"ООО «Савтрансавто» (Ростов-на-Дону)", 
					date:"20.11.2019 15:37:00", 
					date_iso:"2019-11-20",
					note: "<p>Если кратко, то я работаю с «Элемент Лизинг» из-за одного человека. Это Денис Довгалев, сотрудник компании. Денис – настоящий профессионал своего дела, побольше бы таких! Денис – настоящий профессионал своего дела, побольше бы таких!</p>",
					name:"Иванов Олег Иванович", 
					email: "glav.buh@savtransavto.com", 
					video: true 
				},
				{
					firm:"ООО «Савтрансавто» (Ростов-на-Дону)", 
					date:"20.11.2019 15:37:00", 
					date_iso:"2019-11-20",
					note: "<p>Если кратко, то я работаю с «Элемент Лизинг» из-за одного человека. Это Денис Довгалев, сотрудник компании. Денис – настоящий профессионал своего дела, побольше бы таких! Денис – настоящий профессионал своего дела, побольше бы таких!</p>",
					name:"Иванов Олег Иванович", 
					email: "glav.buh@savtransavto.com", 
					video: true 
				},
				{
					firm:"ООО «Савтрансавто» (Ростов-на-Дону)", 
					date:"20.11.2019 15:37:00", 
					date_iso:"2019-11-20",
					note: "<p>Если кратко, то я работаю с «Элемент Лизинг» из-за одного человека. Это Денис Довгалев, сотрудник компании. Денис – настоящий профессионал своего дела, побольше бы таких! Денис – настоящий профессионал своего дела, побольше бы таких!</p>",
					name:"Иванов Олег Иванович", 
					email: "glav.buh@savtransavto.com", 
					video: true 
				},
				{
					firm:"ООО «Савтрансавто» (Ростов-на-Дону)", 
					date:"20.11.2019 15:37:00", 
					date_iso:"2019-11-20",
					note: "<p>Если кратко, то я работаю с «Элемент Лизинг» из-за одного человека. Это Денис Довгалев, сотрудник компании. Денис – настоящий профессионал своего дела, побольше бы таких! Денис – настоящий профессионал своего дела, побольше бы таких!</p>",
					name:"Иванов Олег Иванович", 
					email: "glav.buh@savtransavto.com", 
					video: true 
				},
				{
					firm:"ООО «Савтрансавто» (Ростов-на-Дону)", 
					date:"20.11.2019 15:37:00", 
					date_iso:"2019-11-20",
					note: "<p>Если кратко, то я работаю с «Элемент Лизинг» из-за одного человека. Это Денис Довгалев, сотрудник компании. Денис – настоящий профессионал своего дела, побольше бы таких! Денис – настоящий профессионал своего дела, побольше бы таких!</p>",
					name:"Иванов Олег Иванович", 
					email: "glav.buh@savtransavto.com", 
					video: true 
				}
			]
		} %}
		
    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

    	{# {% include "../block/common/modals/include.twig"%} #}
    	{% include "../block/common/script/script.twig"%}
	</body> 
</html>