<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Сведения о выпуске ценных бумаг"}  %}
	</head>
	<body>
    	{% include "../block/common/navbar/navbar.twig" with {navbar_prefix:"navbar__"} %}
		<main class="content-block__panel">
            {% include "../block/page/investors.twig" with {
                view:"securities_page", 
                content_prefix:"content-block__", 
                content_mod:"is--page-securities",
				heading_mod:"is--hXL  fw--700  color--primary-l",
                heading_group:"margin--default", 
                heading_level:"h2", 
                heading:"Сведения", 
				bread:[
					{name:"Главная", link:page.index},
					{name:"Инвесторам", link:page.investors},
					{name:"Сведения о выпуске ценных бумаг"}
				],
                list:[
                    {
                        name:"Условия выпуска биржевых облигаций серии 001P-02 в рамках Программы биржевых облигаций серии 001-P", 
			 			"date":"20.11.2019 15:37:00", 
			 			"date_iso":"09.10.2019",
                        link:"#",
                    },
                    {
                        name:"О включении эмиссионных ценных бумаг эмитента в список ценных бумаг, допущенных к организованным торгам российским организатором торговли", 
			 			"date":"20.11.2019 15:37:00", 
			 			"date_iso":"09.10.2019",
                        link:"#",
                    },
                    {
                        name:"О присвоении выпуску (дополнительному выпуску)<br> ценных бумаг идентификационного номера", 
			 			"date":"20.11.2019 15:37:00", 
			 			"date_iso":"09.10.2019",
                        link:"#",
                    },
                    {
                        name:"Об утверждении документа, содержащего условия отдельного выпуска (дополнительного выпуска) облигаций, размещаемых в рамках программы облигаций»", 
                        "date":"20.11.2019 15:37:00", 
                        "date_iso":"09.10.2019",
                        link:"#",
                    }
                ],
                list2:[
                    {
                        name:"Сообщение о дате начала размещения ценных бумаг", 
                        "date":"20.11.2019 15:37:00", 
                        "date_iso":"09.10.2019",
                        link:"#",
                    },
                    {
                        name:"Условия выпуска биржевых облигаций серии 001P-01 в рамках Программы биржевых облигаций серии 001-P", 
                        "date":"20.11.2019 15:37:00", 
                        "date_iso":"09.10.2019",
                        link:"#",
                    },
                    {
                        name:"О включении эмиссионных ценных бумаг эмитента в список ценных бумаг, допущенных к организованным торгам российским организатором торговли", 
                        "date":"20.11.2019 15:37:00", 
                        "date_iso":"09.10.2019",
                        link:"#",
                    },
                    {
                        name:"О присвоении выпуску (дополнительному выпуску)<br> ценных бумаг идентификационного номера", 
                        "date":"20.11.2019 15:37:00", 
                        "date_iso":"09.10.2019",
                        link:"#",
                    },
                    {
                        name:"О присвоении выпуску (дополнительному выпуску)<br> ценных бумаг идентификационного номера", 
                        "date":"20.11.2019 15:37:00", 
                        "date_iso":"09.10.2019",
                        link:"#",
                    }
                ],
            } %}
		</main>
		
    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

    	{# {% include "../block/common/modals/include.twig"%} #}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>