<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Карточка вакансий"}  %}
	</head>
	<body>
    	{% include "../block/common/navbar/navbar.twig" with {navbar_prefix:"navbar__"} %}
		<main class="content-block__panel">
			{% include "../block/page/about/vacancies.twig" with {
				view:"vacancies_card", 
				content_prefix:"content-block__", 
				content_mod:"is--page-vacancies-card",
				heading_mod:"is--hXL  fw--700  color--primary-l  margin--default", 
				heading_level:"p", 
				heading:"Вакансии", 
				heading_sm_mod:"is--h1  fw--700  is--page-vacancies-card-sm", 
				heading_sm_level:"h1", 
				heading_sm:"Региональный представитель (Нижневартовск)", 
				bread_mod:"",
				bread:[
					{name:"Главная", link:page.index},
					{name:"Вакансии", link:page.vacancies},
					{name:"Карточка вакансий"}
				],
				note: "<h3>Мы предлагаем вам:</h3><p>Работу в&nbsp;устойчивой и&nbsp;стабильной компании (кредитный рейтинг категории А)</p><p>Возможность старта карьеры в&nbsp;финансовом секторе</p><p>Возможность получить опыт на&nbsp;рынке лизинга</p><h3>Какие задачи будете решать:</h3><p>Консультирование клиентов по вопросам предоставления финансирования</p><p>Подготовка коммерческих предложений</p><p>Оформление и&nbsp;сопровождение лизинговых сделок</p><p>Сопровождение сделок по&nbsp;вопросам страхования</p><p>Поддержание отношений с&nbsp;действующими клиентами и&nbsp;партнерами</p><p>Продвижение услуг Компании</p><h3>Ждем ваше резюме, если вы:</h3><p>Активны и&nbsp;коммуникабельны</p><p>Хотите развиваться в&nbsp;продажах финансовых услуг</p><p>Хотите зарабатывать и&nbsp;управлять своим уровнем дохода</p><p>Имеете среднее специальное, либо высшее образование (финансово-экономическое; юридическое&nbsp;— приветствуется)</p><p>Имеете опыт в&nbsp;сфере продаж (желательно, но&nbsp;необязательно)</p><h3>Условия работы:</h3><p>Дружный коллектив и&nbsp;демократичная корпоративная культура</p><p>Стабильная заработная плата: оклад и&nbsp;%&nbsp;от&nbsp;каждой сделки + премия за&nbsp;обучение</p><p>Официальное трудоустройство</p><p>Пятидневная рабочая неделя с&nbsp;9.00 до&nbsp;18.00</p><p>Полис добровольного медицинского страхования (включая стоматологию), а&nbsp;также страховой полис выезжающих за&nbsp;рубеж</p><p>Страхование от&nbsp;несчастных случаев</p><p>Обучение технологии лизинговых сделок (юр.&nbsp;и&nbsp;физ. лица)</p>"
			} %}
			{% include "../block/common/form/form.twig" with {
				view: 			"vacancies", 
				prefix:			prefix.form, 
				mod:			"is--vacancies", 
				color:			"is--primary", 
				ID: 			"f_leasing", 
				heading:		"Откликнуться на вакансию", 
				heading_level:	"h3", 
				heading_mod:	"is--h2  color--white  fw--700  margin--tiny",
				heading_sm:		"Расскажите о себе, и мы свяжемся с вами, если&nbsp;найдется подходящая вакансия!", 
				heading_sm_level:"p", 
				heading_sm_mod:	"color--white  margin--small",
				heading_r:		"Спасибо!<br>Анкета отправлена", 
				heading_r_level:"h3", 
				heading_r_mod:	"is--h2  color--white  fw--700  margin--tiny",
				heading_r_sm:	"Мы свяжемся с вами, как только найдется подходящая вакансия.", 
				heading_r_sm_level:	"p", 
				heading_r_sm_mod:	"color--white  margin--large"
			} %}
		</main>
		
    	{% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

    	{# {% include "../block/common/modals/include.twig"%} #}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>