.card__{
	&item{
		&.is--navbar{
			position: relative;
			display: none;
			.media-breakpoint-up(@xl; {
				&:before{
					content: '';
					position: absolute;
					top: 0px;
					left: -8px;
					bottom: -36px;
					width: 1px;
					background: @white-e9;
					border-radius: 0.5px;
				}
				max-width: 310px;
				padding-left: 60px;
				display: flex;
				flex-direction: column;
				.btn__item{
					max-width: 185px;
				}
			});
		}
		&.is--index{
			&-header{
				display: block;
				margin-top: 50px;
				margin-bottom: 20px;
				color: @default;
				.media-breakpoint-down(@lg; {
					font-size: 12px;
				});
				.media-breakpoint-up(@md; {
					margin: 40px 0 90px;
				});	
			}
			&-products{
				.media-breakpoint-down(@lg; {
					background-color: @primary;
					margin-left: -15px;
					margin-right: -15px;
					&:nth-child(4n+2){
						background-color: fadeout(@primary, 10%);
					}
					&:nth-child(4n+3){
						background-color: fadeout(@primary, 20%);
					}
					&:nth-child(4n+4){
						background-color: fadeout(@primary, 30%);
					}
					.link__item{
						font-weight: 500;
					}
				});
				.media-breakpoint-up(@lg; {
					//margin-bottom: 5px;
					background-color: fadeout(@blue-08,100%);
					transition: @trs-site; 
					//clip-path: polygon(0 8%,100% 0,100% 92%,0 100%);
					&.is--open{
						background-color: @blue-08; 
					}
				});
			}
		}
		&.is--menedzhment{
			position: relative;
			margin-bottom: 30px;
			.media-breakpoint-up(@md; {
				padding: 80px 145px 0 0;
				margin-bottom: 70px;
			});
		}
		&.is--news{
			&{
				display: flex;
				color: @default;
				.media-breakpoint-down(@md; {
					font-size: 16px;
				});
				.media-breakpoint-up(@md; {
					min-height: 315px;
					box-shadow: 0 2px 4px 1px rgba(0,52,156,0.25);
					background-color: @white;
					flex-direction: column;
					transition: @trs-site;
					&:hover{
						box-shadow: 0 12px 34px 1px rgba(0,52,156,0.25);
					}
				});
			}
			&-card{
				.media-breakpoint-down(@md; {
					display: flex;
					flex-direction: column;
					font-size: 16px;
					.link__group{
						font-size: 0.75em;
						.link__item.is--prev{
							padding-left: 15px;
						}
						.link__item.is--next{
							padding-right: 15px;
						}
					}
				});
			}
			&-sm{
				padding-right: 60px;
			}
		}
		&.is--programm{
			position: relative;
			background-color: @white;
			padding: 30px 25px;
			display: flex;
			flex-direction: column;	
			height: auto;
			width: 100%;	
			.media-breakpoint-down(@lg; {
				font-size: 18px;	
				//box-shadow: 0 4px 14px 0 rgba(0,52,156,0.25);
			});
			.media-breakpoint-down(@sm; {
				width: 255px;
			});
			.media-breakpoint-up(@sm; {
				box-shadow: 0 4px 14px 0 rgba(0,52,156,0.25);
			});
			.media-breakpoint-up(@lg; {
				box-shadow: none;
				padding: 45px 30px 60px;
				min-height: 495px;
				border-left: 1px solid @white-e9;
				border-right: 1px solid @white-e9;
				margin-left: -1px;
				transition: none;
				& > *{
					position: relative;
					z-index: 2;
				}
				&::before{
					content: '';
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					transition: @trs-site;
				}
				&:hover{
					border-left-color: fadeout(@white-e9, 100%);
					border-right-color: fadeout(@white-e9, 100%);
					&::before{
						background-color: @white;
						transform: scale(1.14, 1.07);
						box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
					}
				}
			});
		}
		&.is--reviews{
			position: relative;
			//z-index: 1;
			padding: 50px 0 0 0px;
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 20px;
			}
			&::before{
			}
			.media-breakpoint-down(@md; {
				font-size: 16px;
			});
			.media-breakpoint-up(@md; {
				padding: 75px 0 0 140px;
				margin-bottom: 6.5vw;
				/*&::before{
					left: 0;
					max-width: 290px;
					width: 100%;
					height: 330px;
				}*/			
				&:last-child{
					margin-bottom: 3.25vw;
				}
			});
		}
		&.is--articles{
			border-top: 2px solid @white-e9;
			padding-top: 20px;
			padding-bottom: 22px;
			&:last-of-type{
				border-bottom: 2px solid @white-e9;
				margin-bottom: 30px;
			}
			.media-breakpoint-down(@md; {
				font-size: 12px;
			});
			.media-breakpoint-up(@md; {
				padding-top: 30px;
				padding-bottom: 40px;
				&:last-of-type{
					margin-bottom: 4vw;
				}				
			});
		}
		&.is--catalog{
			&{
				.media-breakpoint-down(@md; {
					display: grid;
					grid-gap: 7px 15px;
					//grid-template-columns: auto 183px;
					grid-template-columns: 1fr minmax(auto, 183px);
					font-size: 16px;
					margin-right: -15px;
					margin-left: -15px;
					padding-left: 15px;
					padding-bottom: 15px;
					background-color: @white;
					& > [data-grid-preview]{
						grid-column: 2;
						grid-row: 1;
					}
					& > [data-grid-wrap]{
						grid-row: span 3;
					}
					& > [data-grid-btn]{
						grid-column: 2;
						grid-row: 2;
					}
					&:hover{
						box-shadow: 0 6px 14px 0 rgba(0,52,156,0.25);
					}
				});	
			}
			&-new{
				position: relative;
				&::after{
					content: '';
					position: absolute;
				    bottom: 32px;
				    right: 10px;
					width: 16px;
					height: 16px;
					.icon-next(@c:'fff';@w: 6px; @h: auto);
					background-position: center;
					transition: @trs-site;
				}
				.media-breakpoint-down(@md; {	
					font-size: 16px;				
					clip-path: polygon(0 12%,100% 0%,100% 88%,0% 100%);
					margin-top: -20px;
					&:nth-child(1),
					&:nth-child(2){
						margin-top: 0;
					}
					&::before{
						content: attr(data-text);
						position: absolute;
						z-index: 2;
						top: 15px;
						right: 20px;
						color: @white;
						font-size: 0.775em;
						font-weight: 700;
					}
				});
				.media-breakpoint-up(@md; {	
					&::after{
						bottom: 15px;
						right: 0px;
						.icon-next(@c:'fff';@w: 10px; @h: auto);
						opacity: 0;
					}
					&:hover{
						&::after{
							opacity: 1;
							right: 15px;
						}
					}
				});
			}
			&-promo{
				position: relative;
				.media-breakpoint-down(@md; {
					.content-block__panel.is--page-catalog-card-adv	&{
						opacity: 1;
					}		
				});
				.media-breakpoint-down(@lg; {
					font-size: 16px;
				});
				.media-breakpoint-up(@md; {
					padding: 45px 40px 0 0;	
					max-width: 530px;			
				});
				opacity: 0.7;
				.slick-active &{
					opacity: 1;
				}
			}
			&-promo-primary{
				position: relative;
				/*.media-breakpoint-down(@md; {
					margin-bottom: 40px;
					[data-slick-catalog] > *:last-child &{
						margin-bottom: 0;
					}			
				});*/
				.media-breakpoint-down(@lg; {
					font-size: 16px;
				});
				.media-breakpoint-up(@md; {
					padding: 45px 40px 0 0;	
					max-width: 530px;			
				});
			}
			&-search{
				display: grid;
				grid-gap: 15px;
				transition: @trs-site;
				&:hover{
					box-shadow: 0 6px 14px 0 rgba(0,52,156,0.25);
				}
				.media-breakpoint-down(@md; {
					grid-template-columns: auto 183px;
					font-size: 16px;
					margin-right: -15px;
					margin-left: -15px;
					padding-left: 15px;
					padding-bottom: 15px;
					background-color: @white;
					& > [data-grid-preview]{
						grid-column: 2;
						grid-row: 1;
					}
					& > [data-grid-wrap]{
						grid-row: span 3;
					}
					& > [data-grid-btn]{
						grid-column: 2;
						grid-row: 2;
					}
				});	
				.media-breakpoint-up(@md; {	
					grid-gap: 22px;
					grid-template-columns: 207px auto auto;				
					border: 1px solid @blue-c6;
					&:hover{
						border-color: @white;
						box-shadow: 0 12px 24px 0 rgba(0,52,156,0.25);
					}
					& > [data-grid-btn]{
						align-self: flex-end;
						justify-self: flex-end;
					}
				});
			}
			&-card{
				display: grid;
				grid-gap: 30px;
				.media-breakpoint-down(@md; {
					font-size: 14px;
					& > *:nth-child(2){
						order: -1;
					}
				});
				.media-breakpoint-up(@md; {
					grid-gap: 30px;
					grid-template-columns: 7fr 5fr;
					& > *:nth-child(2){
						align-self: flex-start;
					}
				});
			}
		}
		&.is--leasing{
			&-adv{
				display: grid;
				grid-gap: 18px;
				.media-breakpoint-up(@md; {
					grid-gap: 30px;
					align-items: flex-start;
				});
			}
			/*&-adv{
				position: relative;	
				.media-breakpoint-up(@lg; {
					padding-bottom: 50px;						
				});	
			}*/
		}
		&.is--brand{
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: @white;
			border: 1px solid @blue-light;
			transition: @trs-site;
			margin: -1px;
			padding: 20px;
			height: 120px;
			.media-breakpoint-up(@md; {
				height: 145px;    				
			});
			.media-breakpoint-up(@lg; {
				height: 210px;    				
			});
			.media-breakpoint-up(@xl; {
				height: 285px;    				
			});
			img{
				opacity: 0.5;
				transition: @trs-site;
    			object-fit: contain;
    			object-position: center;
    			max-width: 70%;
    			max-height: 70%;
			}
			.media-breakpoint-up(@md; {				
				img{
	    			max-width: 60%;
	    			max-height: 60%;
				}  				
			});
			&:hover{
				z-index: 1;
				box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
				border-color: @white;
				img{
					opacity: 1;
				}
			}
		}
		&.is--partners{
			&{
				display: flex;
				max-width: 240px;
				height: 80px;
				align-items: center;
				img{
					.img-fit(@fit: contain);
					object-position: center;
					opacity: 0.4;
					transition: @trs-site;
				}
				.slick-current &,
				&:hover{
					img{
						opacity: 1;
					}
				}
			}
			&-card{
				display: flex;
				flex-direction: column;
				background-color: @white;
				box-shadow: 0 2px 4px 1px rgba(0,52,156,0.25);
				color: @default;
				font-weight: 100;
				font-size: 16px;
				height: 100%;
				padding: 15px 0 30px;
				&:hover{
					box-shadow: 0 8px 14px 1px rgba(0,52,156,0.25);
				}
				.media-breakpoint-up(@lg; {
					font-size: 18px;
					min-height: 350px;
				});
			}
		}
		&.is--seo{
			border-top: 1px solid @white-e9;
			margin: 0 -15px;
			padding: 0 15px;
			&:last-child{
				border-bottom: 1px solid @white-e9;
			}
			.media-breakpoint-down(@lg; {
				font-size: 14px;
			});
			.media-breakpoint-up(@lg; {
				margin: 0;
				padding: 0;				
				border-top-width: 2px;
				&:last-child{
					border-bottom-width: 2px;
				}
			});
		}
		&.is--docs{
			&-card{
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #E5F6FF;
  				background-color: @white;
  				margin: -1px;
  				padding: 20px;
  				min-height: 180px;
  				transition: @trs-site;
  				.media-breakpoint-up(@md; {
  					min-height: 290px;
  				});
  				&:hover{
  					z-index: 1;
  					box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
  					border-color: fadeout(#E5F6FF, 100%);
  				}
			}
			&-download{
				position: relative;
				display: block;
				padding: 30px 55px 30px 15px;
				margin: 0 -15px;
				border-bottom: 2px solid @white-e9;
				transition: @trs-site;
				margin-top: -2px;
				.media-breakpoint-down(@md; {
					font-size: 12px;
					padding: 20px 55px 20px 15px;
				});
				&:hover{
					background-color: @white-f8;
					border-bottom-color: @white-f8;
				}
			}
		}
		&.is--finance{
			font-size: 16px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 10px;
			background-color: @blue-light;
			min-height: 215px;
			transition: @trs-site;
			max-width: 220px;
    		margin: 0 auto;
			.media-breakpoint-down(@sm; {
				max-width: 290px;
				width: 100%;
				min-width: 225px;
				//margin: 0;
				//.slick-current &{
				//	margin: 0 auto;
				//	}
			});
			.media-breakpoint-up(@md; {
				font-size: 18px;
				min-height: 310px;
				max-width: 290px;
				//padding: 20px 40px 60px;
				padding: 20px 25px 60px;
			});
			.media-breakpoint-up(@lg; {
				width: 290px;
			});
			.slick-current &,
			&:hover{
				background-color: @white;
			}
		}
	}
	&bg{
		&.is--reviews{			
			position: absolute;
			z-index: -1;
			top: 0;
		    left: -15px;
		    max-width: 185px;
		    width: 100%;
		    height: 250px;
			
			background-color: @blue-00;
			transition: @trs-site;
			clip-path: polygon(0 12%,100% 0%,100% 88%,0% 100%);

			.media-breakpoint-up(@md; {
				left: 0;
				max-width: 290px;
				width: 100%;
				height: 330px;
			});
		}
	}
	&wrap{	
		&.is--index{
			&-header{
				background-color: @white;
				margin-left: 15px;
				margin-right: 15px;
				box-shadow: 0 5px 14px 0 rgba(0,52,156,0.25);
				padding: 50px 15px 15px 15px;
				.media-breakpoint-up(@md; {					
					display: grid;
					grid-gap: 30px;
					grid-template-columns: 1fr 1fr;
					background-color: @blue-light;	
					padding: 45px 30px;
					box-shadow: none;
					margin-left: 0px;
					margin-right: 0px;
					& > *:nth-child(2){
						padding-left: 5px;
					}
				});
				.media-breakpoint-up(@lg; {			
					padding: 38px 50px 48px 55px;
					grid-template-columns: 0.73fr 1fr;
				});
			}
			&-products{
				padding: 0 13px 15px;
				text-align: right;
				.media-breakpoint-up(@lg; {	
					text-align: left;				
					//margin-top: -1px;				
					//padding: 0 20px 60px 40px;
					padding: 0 20px 50px 40px;
		   			//clip-path: polygon(0 0%,100% 0,100% 87%,0 100%);
					//background-color: @blue-08; 
					transition: @trs-site;
					opacity: 0;
					[aria-expanded="true"] &{
						opacity: 1;
					}
					.link__item{
						background-image: none!important;
					}
				});
			}
		}
		&.is--menedzhment{
			position: relative;
			background-color: @white;
			box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
			padding: 25px 15px 40px;
  			.media-breakpoint-up(@md; {
				padding: 35px 180px 40px 25px;
			});			
		}
		&.is--news{
			padding-top: 10px;
			flex: 1 1 0;
			.media-breakpoint-up(@md; {
				padding: 15px 15px 20px;
				background-position: right 25px bottom 25px;
				display: flex;
				flex-wrap: wrap;				
				.card__item:hover &{
					.icon-next(@c: '636363');
				}
			});
		}
		&.is--reviews{
			display: grid;
			grid-gap: 15px 15px;	
			padding: 20px 15px;
			grid-template-columns: repeat(3, 1fr);
			box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
			background-color: @white;
			& > [data-grid-heading]{
				grid-column: span 2;
			}
			& > [data-grid-date]{
				justify-self: flex-end;
			}
			& > [data-grid-note],
			& > [data-grid-sign],
			& > [data-grid-video]{
				grid-column: span 3;
			}
			.media-breakpoint-up(@md; {
				grid-gap: 25px 15px;
				padding: 30px;
				grid-template-columns: repeat(12, 1fr);
				& > [data-grid-heading]{
					grid-column: span 9;
				}
				& > [data-grid-date]{
					grid-column: span 3;
				}
				& > [data-grid-note]{
					grid-column: span 12;
				}
				& > [data-grid-sign]{
					grid-column: span 7;					
				}
				& > [data-grid-video]{
					grid-column: span 5;	
					align-self: flex-end;	
					justify-self: flex-end;
				}
			});	
		}
		&.is--catalog{
			&{
				.media-breakpoint-down(@md; {
					display: flex;
					flex-direction: column;
					//margin-right: -15px;
					//margin-bottom: 10px;
					//& > *{
					//	flex: 1 1 0;
					//}
				});
				.media-breakpoint-up(@md; {
					background-color: @white;
					padding: 25px 20px;	
					border: 1px solid @blue-c6;
					margin-bottom: 20px;
					transition: @trs-site;
					position: relative;
					z-index: 2;
					.card__item:hover &{
						box-shadow: 0 12px 24px 0 rgba(0,52,156,0.25);
						border-color: @white;
					}					
				});
			}
			&-promo{
				max-width: 200px;
				padding: 10px 16px;
				.media-breakpoint-down(@md; {
					position: relative;
					z-index: 2;
					color: @white;
				});
				.media-breakpoint-up(@md; {
					position: absolute;
					top: -40px;
					right: -60px;
					background-color: @white;
				    max-width: 405px;
	    			padding: 30px;
					transition: @trs-site;
					box-shadow: 0 12px 34px 0 rgba(0,52,156,0.5);
					opacity: 0;
					.card__item:hover &{
						opacity: 1;
						right: -45px;
					}					
				});
			}
			&-promo-primary{
				position: absolute;
				top: -25px;
				padding: 10px 16px;
				right: 0;
				max-width: 200px;
				transition: @trs-site;
				.media-breakpoint-down(@md; {
					//position: relative;
					z-index: 2;
					color: @white;
				});
				.media-breakpoint-up(@md; {
					max-width: 200px;
					top: 5px;
					right: -80px;
				    max-width: 405px;
	    			padding: 0;
					//right: -100px;
					//opacity: 0;
					.card__item:hover &{
						//background-color: @white;
						//opacity: 1;
						//right: -80px;
					}					
				});
			}
			&-search{
				.media-breakpoint-down(@md; {
					display: flex;
					flex-direction: column;
				});
				.media-breakpoint-up(@md; {
					padding: 20px 0 10px;
				});
			}
			&-card{
				&{
					position: relative;
					z-index: 1;
					.media-breakpoint-up(@md; {
						margin-top: -90px;
						padding: 45px 35px 88px;
						box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
						background-color: @white;
					});
				}
				&-desc{
					.media-breakpoint-down(@md; {
						display: none;
						&.is--active{
							display: block;
						}
					});
				}
			}
		}
		&.is--seo{
			margin-bottom: 35px;
			.media-breakpoint-up(@lg; {
				align-items: flex-start;
				grid-template-columns: 7fr 5fr;
				& > *:nth-child(2){
					margin-top: 20px;
				}
			});
		}
		&.is--docs{
			&-download{
				margin-bottom: 30px;
				.media-breakpoint-up(@lg; {
					margin-bottom: 80px;
				});
			}
		}
		&.is--partners{
			&-card{
				display: flex;
				justify-content: space-between;
				align-items: center;
			    padding: 0 15px 15px;
    			height: 77px;
    			margin-bottom: 2px;
			}
		}
		&.is--finance{
			.media-breakpoint-down(@sm; {
				//width: 75vw;
			});
		}
	}
	&preview{
		display: block;
		position: relative;
		svg{display: block;}
		&.is--navbar{
			margin-bottom: 16px;
		}
		&.is--index{
			&-header{
				//display: flex;
				//justify-content: center;
				//align-items: center;
				//padding: 20px;
				//background-color: @primary; 
				width: 270px;
    			height: 297px;
				background-color: @blue-08; 
				margin-top: -100px; 
				margin-bottom: 20px;  
				transform: translate(-30px, 0px);
				img{
					width: 100%;
					height: 100%;
					object-position: center;
					object-fit: cover;
					opacity: 0.4;
					//max-height: 100%;
					//margin: 0 auto;
				}
				.media-breakpoint-up(@md; {	
					transform: none;
					box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
					margin-top: -90px;
					margin-bottom: -80px;
				});
				.media-breakpoint-up(@lg; {
					width: 410px;
					height: 560px;					
				});
			}
			&-products{
				display: none;
				.media-breakpoint-up(@lg; {
					display: block;
					max-width: 556px;
					//display: flex;
					//align-items: center;
					//justify-content: center;
					overflow: hidden;
					//max-width: 555px;
					//height: 885px;
					//background-color: @primary-a;
					//clip-path: polygon(0 8%,100% 4%,100% 94%,0 98.5%);
					img{
						//max-width: 636px;
					}
				});	
			}
		}
		&.is--page{
			&-investors{
				&-info{ 
					margin-bottom: 15px;
					img{
						margin: 0 auto;
					}
					.media-breakpoint-up(@md; {
						position: absolute;
						margin-bottom: 0;
						min-width: 390px;
						width: 50vw;
						top: 50%;
						left: 48vw;
						transform: translateY(-50%);
					});
					.media-breakpoint-up(@xl; {
						min-width: 590px;
						width: 34.5vw;
					});
				}
			}
		}
		&.is--menedzhment{
			clip-path: polygon(0 12%,100% 0%,100% 88%,0% 100%);
			max-width: 220px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: -45px;
  			.media-breakpoint-up(@md; {
				position: absolute;
				z-index: 2;
  				margin: 0;
				max-width: 290px;
				top: 0;
				right: 0;
				transition: @trs-site;
				/*.card__item:hover &{
					clip-path: polygon(0 0,100% 12%,100% 100%,0% 88%);
				}*/
			});
		}
		&.is--news{
			&{
				width: 80px;
				height: 80px;
				margin-left: 15px;
				.bg();
				&::before{
					.card__item:hover &{
						background-color: fadeout(@primary, 100%);
					}
				}
				img{
					.img-fit();
					object-position: center;
				}
				.media-breakpoint-up(@md; {
					margin: 0;
					order: -1;
					width: 100%;
					height: 140px;
				});
			}
			&-card{
				position: relative;    
				margin-left: -15px;
			    margin-right: -15px;
			    height: 200px;
				margin-bottom: 20px;
				.media-breakpoint-up(@sm; {
					height: 335px;
					margin: 0 0 40px;
				});
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background-color: fadeout(@primary, 50%);
					width: 100%;
					height: 100%;
					transition: @trs-site;
				}
				img{
					.img-fit();
					object-position: center;
				}
			}
		}
		&.is--catalog{
			&{
				height: 130px;
				.media-breakpoint-up(@md; {
					height: 190px;
					transition: @trs-site;
					background-color: @white;
					.card__item:hover &{
						box-shadow: 0 12px 24px 0 rgba(0,52,156,0.25);
					}	
				});
				img{
					.img-fit();
					object-position: center;
				}
			}
			&-new{
				height: 155px;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background-color: @success;
					width: 100%;
					height: 100%;
					transition: @trs-site;
				}
				img{
					.img-fit();
					object-position: center;
				}
				.media-breakpoint-down(@md; {
					.card__item:nth-child(2n+1) &{
						&::before{
							background-color: @success-h;
						}
					}
				});
				.media-breakpoint-up(@md; {
					height: 410px;
					&::before{
						background-color: fadeout(@primary, 50%);
					}
				});
			}
			&-promo{
				.bg();
				.media-breakpoint-down(@md; {
					font-size: 12px;
					img{
						position: absolute;
						z-index: 1;
						top: 0px;
						left: 0px;
					}
					&::before{
						z-index: 2;
					}
				});
				.media-breakpoint-up(@md; {
					height: 320px;					
				});
			}
			&-promo-primary{
				.bg();
				height: 145px;
				.media-breakpoint-down(@md; {
					font-size: 12px;
					img{
						//position: absolute;
						//z-index: 1;
						//top: 0px;
						//left: 0px;
					}
					&::before{
						z-index: 2;
					}
				});
				.media-breakpoint-up(@md; {
					transition: @trs-site;
					height: 320px;
					.card__item:hover &{
						box-shadow: 0 12px 34px 0 rgba(0,0,0,0.5);
					}					
				});

					
				
			}
			&-search{
				.media-breakpoint-down(@md; {
					height: 130px;
				});
				img{
					.img-fit();
					object-position: center;
				}
			}
		}
		&.is--leasing{
			&-adv{
				.media-breakpoint-down(@md; {
					img{
						max-width: 67%;
						margin: 8px auto 0;
					}
				});
				.media-breakpoint-up(@md; {
					grid-column: 2;
					grid-row: ~"1/4";
				});
			}
			/*&-adv{
				margin-left: auto;
				max-width: 255px;
				background-color: @blue-08;
				padding: 24px 12px 26px 21px;	
				.media-breakpoint-up(@md; {
					max-width: 540px;
					margin-right: 15px;
					margin-bottom: 100px;
					padding: 40px 45px 14px 45px;	
				});
				.media-breakpoint-up(@lg; {
					padding: 55px 30px;	
					max-width: 696px;
					margin-right: 100px;
					margin-bottom: 60px;
					box-shadow: 0 12px 34px 0 #000054;
				});
			}*/
		}
		&.is--partners{
			&-card{
				margin-left: 15px;
				img{
					width: 100%;
					max-width: 145px;
					max-height: 62px;
					object-fit: contain;
					object-position: center;
				}
			}
		}
	}
	&icon {
		&.is--index{
			&-products{
				width: 24px;
				height: 24px;
				min-width: 24px;
				color: @white;
				margin-right: 10px;
				transition: color 0.35s;
				.media-breakpoint-down(@lg; {
					[aria-expanded="true"] &{
						width: 40px;
						height: 40px;
						min-width: 40px;
						margin-bottom: 15px;	
					}	
				});
				.media-breakpoint-up(@lg; {
					display: none;
				});
			}
		}
		&.is--leasing{
			/*&-adv{
				display: none;
				.media-breakpoint-up(@md; {
					position: relative;
					display: flex;
					z-index: 1;
					justify-content: center;
					align-items: center;
					width: 220px;
					height: 300px;
					background-color: #65C5FC;
					box-shadow: 0 12px 34px 0 #000054;
					padding: 35px;
					margin-top: -46%;
					margin-bottom: 50px;
					img{
						width: 100%;
					}
				});
				.media-breakpoint-up(@xl; {
					position: absolute;
					left: 100px;
					top: 235px;
					width: 390px;
					height: 480px; 
					margin: 0;
					padding: 65px;
				});
			}*/
		}
		&.is--docs{
			&-download{
				color: @black-98;
				width: 26px;
				height: 26px;
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translateY(-50%);
				transition: @trs-site;
				.card__item:hover &{
					color: @success;
				}

			}
		}
	}
	&heading{
		transition: @trs-site;
		&.is--navbar{
			font-size: 16px;
			line-height: 16px;
			color: @black-29;
			font-weight: 300;
			margin-bottom: 12px;
		}
		&.is--index{
			&-header{
				font-size: 2.1em;
    			line-height: 1.2em;
				font-weight: 700;	
				margin-bottom: 5px;
				.media-breakpoint-up(@md; {
					margin-bottom: 15px;
				});
				.media-breakpoint-up(@lg; {
					margin-bottom: 45px;
					font-size: 3.1em;
    				line-height: 1em;
				});
			}
			&-products{
				a{
					font-weight: 700;
					color: @white;
					display: flex;
					position: relative;
				    padding: 13px 3px 13px 13px;
					.heading3();
		   			&::after{
		   				content: '';
		   				width: 32px;
		   				height: 32px;
		   				.icon-bottom(@c:'fff'; @w: 10px; @h: auto);
		   				background-position:center;
		   			}	
					&[aria-expanded="true"]{
						.card__icon{
							color: @success;
						}
						&::after{
			   				.icon-top(@c:'fff'; @w: 10px; @h: auto);
			   			}
					}	
					.media-breakpoint-down(@lg; {
						min-height: 58px;
						align-items: center;
						br{display: none;}
						span{
							flex: 1 1 0;
						}		
		   				&::after{
		   					position: absolute;
		   					right: 3px;
		   					top: 13px;
		   				}
						&[aria-expanded="true"]{
							flex-direction: column;
							justify-content: center;
							text-align: center;	
						}		
					});	
					.media-breakpoint-up(@lg; {	
						color: fadeout(@blue-08, 50%);
						//background-color: fadeout(@blue-08, 100%);
						padding: 35px 40px 20px; 					
		   				//clip-path: polygon(0 20%,100% 0,100% 100%,0 100%);
						position: relative;
						margin-bottom: -1px;
			   			&::after{
			   				margin-top: 10px;
	    					margin-left: 45px;
		   					.icon-bottom(@c:'0864aa80'; @w: 20px; @h: auto);
			   			}	
						&[aria-expanded="true"]{
							color: @white;
							//padding-top: 82px;
							//background-color: @blue-08;
							padding-top: 40px;
							//padding-bottom: 20px;
							&::after{
				   				.icon-top(@c:'fff'; @w: 20px; @h: auto);
				   			}
						}
					});
				}
			}
		}
		&.is--menedzhment{
			&{
				.heading4();
				font-weight: 700;
				margin-bottom: 5px;
			}
			&-post{
				margin-bottom: 15px;
				.media-breakpoint-up(@md; {
					margin-bottom: 25px;
				});
			}
		}
		&.is--news{
			&{
				font-weight: 700;
				margin-bottom: 5px;
				margin-bottom: 10px;
				.heading5();
				color: @default;
				.card__item:hover &{
					color: @primary;
				}
				.media-breakpoint-up(@md; {
					.card__item:nth-child(1) &,
					.card__item:nth-child(2) &,
					.card__item:nth-child(3) &,
					.card__item:nth-child(4) &{
						.heading4();
					}
				});
			}
			&-card{
				.media-breakpoint-down(@md; {
					order: -2;
				});
			}
			&-sm{
				font-weight: 700;
					line-height: 1.5em;
				a{
					color: @default;
					.card__item:hover &{
						color: @primary;
					}
				}
			}
		}
		&.is--programm{
			.heading3();
			color: @default;
			font-weight: 700;
			margin-bottom: 10px;
			.media-breakpoint-up(@lg; {
				margin-bottom: 15px;				
			});
		}
		&.is--reviews{
			.heading5();
			font-weight: 700;
		}
		&.is--articles{
			.heading3();
			font-weight: 700;
			a{
				color: @default;
				&:hover{
					color: @primary-h;
				}
				&:active{
					color: @primary-a;
				}
			}
		}
		&.is--catalog{
			&{
				font-size: 1.55em;
    			line-height: 1.25em;
				font-weight: 700;
				margin-bottom: 10px;
   				overflow: hidden;
   				height: 90px;
				.media-breakpoint-up(@sm; {
					height: 55px;
				});
				.media-breakpoint-up(@md; {
					.heading5();
					margin-bottom: 0;
				});
				a{
					color: @default;
				}
			}
			&-new{
				max-width: 170px;
				position: absolute;
				top: 35px;
				left: 15px;
				.heading4();
				color: @white;
				font-weight: 700;
				transition: @trs-site;
				.media-breakpoint-up(@md; {
					max-width: 100%;
					top: inherit;
					left: 15px;
					bottom: 60px;
					right: 25px;
					color: fadeout(@white, 100%);
					.card__item:hover &{
						color: @white;
						left: 25px;
					}					
				});
			}
			&-promo{
				.heading-md();
				color: @white;				
				font-weight: 700;
				margin-bottom: 13px;
				.media-breakpoint-up(@md; {	
					color: @default;					
				});
				.media-breakpoint-up(@lg; {
					margin-bottom: 25px;				
				});
			}
			&-promo-primary{
				.heading-md();
				color: @white;				
				font-weight: 700;
				margin-bottom: 13px;
				.media-breakpoint-up(@lg; {
					margin-bottom: 25px;					
				});
				/*.card__item:hover &{
					color: @default;
				}*/
			}
			&-search{
				font-size: 1.55em;
    			line-height: 1.25em;
				font-weight: 700;
				margin-bottom: 15px;
				.media-breakpoint-up(@md; {
					.heading5();
					margin-bottom: 0;
				});
				a{
					color: @default;
				}
			}
			&-card{
				&-sm{
					.heading4();
					margin-bottom: 15px;
					color: @primary;
					.media-breakpoint-down(@md; {
						display: none;
					});
				}
				&{
					font-weight: 700;
					.heading-md();	
					margin-bottom: 45px;
					.media-breakpoint-down(@md; {
						display: none;
					});				
				}
				&-desc{
					.heading4();
					margin-bottom: 15px;
				}
			}
		}
		&.is--leasing{
			&-adv{
				font-weight: 700;
				font-size: 1.33em;
				line-height: 1.5em;
				.media-breakpoint-up(@md; {
					padding-top: 62px;
				});
				.media-breakpoint-up(@lg; {
					font-size: 2em;
					line-height: 1.25em;
				});	
			}
			/*&-adv{
				position: absolute;
				top: 20px;	
				z-index: 2;
				color: @white;
				font-weight: 700;
				font-size: 2em;
				line-height: 1.25em;
				max-width: 280px;
				.media-breakpoint-up(@md; {
					position: relative;
					max-width: 450px;
					margin-bottom: 45px;
				});
				.media-breakpoint-up(@xl; {
					position: absolute;
					top: 25px;	
					font-size: 2.55em;
					max-width: 520px;
					margin-bottom: 0;
				});			
			}*/
		}
		&.is--seo{
			font-weight: 700;
			font-size: 1.15em;
    		line-height: 1.7em;
			a{
				display: block;
				color: @default;
				padding: 15px 35px 15px 0;
				.icon-bottom(@c: '333'; @w: 12px; @h: auto);
				background-position: right center;
				&[aria-expanded="true"]{
					.icon-top(@c: '333'; @w: 12px; @h: auto);
				}
			}
			.media-breakpoint-up(@lg; {
				.heading3();
				a{
					padding: 35px 35px 35px 0;
					.icon-bottom(@c: '333'; @w: 18px; @h: auto);
					&[aria-expanded="true"]{
						.icon-top(@c: '333'; @w: 18px; @h: auto);
					}
				}				
			});			
		}
		&.is--docs{
			&-card{
				font-size: 1.34em;
    			line-height: 1.34em;
				font-weight: 100;
				color: @default;
				text-align: center;
  				.media-breakpoint-up(@md; {
					.heading4();
  				});
				.card__item:hover &{
					//transform: scale(1.5);
					//font-size: 1.8em;
				}
			}
			&-download{
				color: @default;
				font-weight: 700;
				font-size: 1.34em;
    			line-height: 1.34em;
			}
		}
		&.is--finance{
			color: @success;
			font-weight: 700;
			text-align: center;
			font-size: 1.75em;
			line-height: 1.2em;
			margin-bottom: 10px;
			/*.card__item:hover &{
				font-size: 1.8em;
				transform: scale(1.25);
			}*/
		}
		&.is--partners{
			&-card{
				font-size: 1.37em;
				line-height: 1.2em;
				font-weight: 700;
			}
		}
	}
	&note{
		&.is--navbar{
			font-weight: 300;
			font-size: 12px;
			line-height: 16px;
			color: @black-98;
			margin-bottom: 34px;
		}
		&.is--index{
			&-header{
				font-weight: 100;
				font-size: 1.23em;
				line-height: 1.33em;
				p, div{
					margin-bottom: 5px;
				}
				.media-breakpoint-up(@lg; {					
					p, div{
						margin-bottom: 20px;
					}
				});
			}
		}
		&.is--menedzhment{
			font-weight: 100;
			font-size: 0.89em;
			p, div{
				margin-bottom: 25px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&.is--news{
			&{
				display: none;
				.media-breakpoint-up(@md; {
					display: block;				
					font-weight: 100;
					font-size: 0.889em;
					margin-bottom: 10px;
					overflow: hidden;
		    		height: 75px;
				});
			}
			&-card{
				margin-bottom: 25px;
				.media-breakpoint-up(@md; {
					margin-bottom: 80px;
				});
			}	
		}	
		&.is--programm{
			color: @black-9a;
			font-size: 14px;
			line-height: 1.5em;
			font-weight: 100;
			margin-bottom: 55px;
			transition: @trs-site;
			.card__item:hover &{
				color: @default;
			}
			.media-breakpoint-up(@lg; {
				font-weight: 400;
				font-size: 1em;
				line-height: 1.63em;
				margin-bottom: 20px;				
			});
		}	
		&.is--reviews{
			font-weight: 100;
			font-size: 0.889em;
		}
		&.is--leasing{
			&-adv{
				font-weight: 100;
				font-size: 1.18em;
				line-height: 1.45em;
			    .media-breakpoint-up(@md; {
					font-size: 1.33em;
					line-height: 1.5em;	
					max-width: 620px;	    	
			    });	
			}
			/*&-adv{
				position: relative;
				z-index: 2;
				background-color: @white;
				font-weight: 100;
				font-size: 1.18em;
				line-height: 1.45em;	
				margin: -55px 15px 0 0;	
				padding: 20px 15px 30px;
				max-width: 380px;
			    .media-breakpoint-up(@md; {
					font-size: 1.33em;
					line-height: 1.5em;	
			    	background: none;
					color: @white;
					max-width: 620px;
					margin: 0;
				    padding: 0;			    	
			    });	
			    .media-breakpoint-up(@xl; {
					max-width: 510px;
					margin: 0 155px 0 auto;
				    padding: 0 0 40px;			    	
			    });	
			}*/
		}
		&.is--finance{
			font-weight: 100;
			text-align: center;
			line-height: 1.65em;
			transition: @trs-site;
			.media-breakpoint-down(@md; {
				max-width: 170px;
				margin: 0 auto;
			});
			/*.card__item:hover &{
				transform: scale(1.25);
			}*/
		}
		&.is--partners{
			&-card{
				font-size: 0.88em;
				line-height: 1.55em;
				padding: 0 15px;
				margin-bottom: 15px;
			}
		}
	}	
	&sign{
		&.is--reviews{
			color: @black-9a;
			font-size: 0.889em;
		}
	}
	&video{
		&.is--reviews{
			font-size: 0.78em;
			a{
				color: @success;
				&:hover{
					color: @success-h;
				}
				&:active{
					color: @success-a;
				}
			}
		}
	}
	&date{	
		&.is--news{
			&{
				margin-top: auto;
				color: @black-98;
				font-size: 0.77em;
			}
			&-card{
				display: block;
				color: @black-98;
				font-size: 0.77em;
				margin-bottom: 35px;
				.media-breakpoint-down(@md; {
					margin-bottom: 15px;
					order: -1;
				});
			}
			&-sm{
				display: inline-block;
				margin-bottom: 10px;
				color: @black-98;
				font-size: .77em;
				line-height: 1.35em;
			}
		}
		&.is--reviews{
			color: @black-98;
			font-size: 0.77em;
			white-space: nowrap;
		}
		&.is--articles{
			display: inline-block;
			color: @black-98;
			.media-breakpoint-up(@md; {
				margin-bottom: 15px;
			});
		}
		&.is--docs{
			&-download{
    			display: block;
				margin-bottom: 10px;
				color: @black-98;
			}
		}
	}
	&value{
		&.is--programm{
			font-size: 0.78em;	
			color: fadeout(@blue-08, 50%);
			transition: @trs-site;
			margin-top: auto;
			.media-breakpoint-down(@lg; {
				.slick-current &{
					color: @success;
				}
				br{display: none;}
			});
			span{
				display: block;
				font-weight: 700;
				font-size: 2.3em;
				line-height: 0.9em;
			}
			.card__item:hover &{
				color: @success;
			}
			.media-breakpoint-up(@lg; {	
				font-size: 1em;			
				span{
					font-size: 1.8em;
					line-height: 1.28em;
				}
			});
		}
		&.is--catalog{
			&{
				font-weight: 100;
				.heading6();
				margin-bottom: 6px;
				span{
					font-weight: 700;
				}
				&.is--type{
					color: @primary;
					margin-bottom: 0px;
				}
				.media-breakpoint-down(@md; {					
					&.is--type{
						order: -1;
						font-size: 0.77em;
					}
				});
				.media-breakpoint-up(@md; {
					margin-bottom: 10px;
					&.is--type{
						margin-bottom: 25px;
					}
				});
			}
			&-new{
				position: absolute;
				top: 30px;
				right: 5px;
				font-weight: 700;
				.media-breakpoint-down(@md; {
					max-width: 170px;
					color: @success-h;
					font-size: 3.4em;
					line-height: 0.9em;
					&::before{
						content: attr(data-text);
					}	
					.card__item:nth-child(2n+1) &{
						color: @success;
					}	
				});
				.media-breakpoint-up(@md; {
					top: 25px;
					right: 15px;
					color: @success;
					font-size: 0.88em;					
				});
			}
			&-promo{
				font-weight: 100;
				margin-bottom: 5px;
				.heading3();
				color: @white;
				.media-breakpoint-up(@md; {					
					color: @default;	
					&.is--status{
						color: @success;
					}		
				});
				.media-breakpoint-up(@lg; {
					margin-bottom: 25px;
					&.is--cost{
						margin-bottom: 15px;					
					}	
					&.is--status{
						.heading4();
					}	
					&:last-child{
						margin: 0;
					}			
				});
			}
			&-promo-primary{
				font-weight: 100;
				margin-bottom: 5px;
				.heading3();
				color: @white;
				transition: @trs-site;
				&.is--status{
					font-weight: 400;
					display: inline-flex;
					padding: 14px 13px 10px;	
					background-color: @success;
					color: @white;		
					font-size: 1em;
					line-height: 1.4em;
				}	
				.media-breakpoint-up(@lg; {
					margin-bottom: 25px;
					&.is--cost{
						margin-bottom: 15px;					
					}	
					&.is--status{				
						font-size: .88em;
						line-height: 1em;
						//.heading4();
						//color: @success;
					}	
					&:last-child{
						margin: 0;
					}			
				});
				/*.card__item:hover &{
					color: @default;
				}
				.card__item:hover &.is--status{
					color: @success;
				}*/	
			}
			&-search{
				font-weight: 100;
				font-size: 0.77em;
    			line-height: 1.65em;
				margin-bottom: 5px;
				span{
					font-weight: 700;
				}
				&.is--type{
					margin-bottom: 0px;
				}
				.media-breakpoint-down(@md; {					
					&.is--type{
						order: -1;
					}
				});
				.media-breakpoint-up(@md; {
					.heading6();
					margin-bottom: 12px;
					&.is--type{
						margin-bottom: 25px;
					}
				});
			}
			&-card{
				.heading4();
				color: @black-98;
				margin-bottom: 15px;
				&:last-child{
					margin-bottom: 0;
				}
				&.is--btn{
					padding-top: 10px;
					text-align: center;
				}
				span{
					display: block;
					font-weight: 700;
					color: @default;
					font-size: 1.7em;
					line-height: 1.7em;
				}	
				&.is--desc{
					.btn-clearfix();
					float: right;
					max-width: 100px;
    				font-size: 0.88em;
    				text-align: left;
				}			
				.media-breakpoint-up(@md; {
					margin-bottom: 45px;
					span{
						font-size: 1.53em;
						line-height: 1.4em;
					}
					&.is--btn{
						padding-top: 25px;
					}
					&.is--desc{
						display: none;
					}
				});
			}
		}
		&.is--partners{
			&-card{
				font-weight: 400;
				font-size: 0.8em;
				padding: 0 15px;
				margin-top: auto;
				color: @black-98;
				transition: @trs-site;
				.card__item:hover &{
					color: @success;
				}
			}
		}
	}

	&btn{
		&.is--catalog{
			&{
				.btn-clearfix();
				text-align: left;
				width: 100%;
				border: 1px solid @success;
				background-color: @white;
				padding: 7px 10px;
				padding-right: 30px;
				.icon-next(@c:'333';@w: 7px; @h: auto);
				background-position: center right 15px;
				.media-breakpoint-down(@md; {
					.card__item:hover &{
						color: @white;
						background-color: @success;
						.icon-next(@c:'fff';@w: 7px; @h: auto);
					}
				});
				.media-breakpoint-up(@md; {
					border-color: @blue-c6;
					padding: 20px;
					.icon-next(@c:'333';@w: 10px; @h: auto);
					background-position: center right 20px;
					padding-right: 40px;
					.card__item:hover &{
						box-shadow: 0 12px 24px 0 rgba(0,52,156,0.25);
						border-color: @white;
						background-color: @white;
						color: @default;
					}
				});
			}
			&-promo{
				.btn-clearfix();
				text-align: left;
				width: 100%;
				.heading4();				
				background-color: @white;
				padding: 10px 25px;
				margin-top: 15px;
				padding-right: 40px;
				.icon-next(@c:'333';@w: 10px; @h: auto);
				background-position: center right 25px;
				box-shadow: 0 4px 14px 0 rgba(0,52,156,0.5);
				.card__item:hover &{
					border-color: @white;
					box-shadow: 0 8px 20px 0 rgba(0,52,156,0.5);
				}
				.media-breakpoint-up(@md; {
					margin-top: 25px;
					padding: 20px 25px;
				});
			}
			&-promo-primary{
				.btn-clearfix();
				text-align: left;
				width: 100%;
				.heading4();				
				background-color: @white;
				padding: 10px 25px;
				margin-top: 15px;
				padding-right: 40px;
				.icon-next(@c:'333';@w: 10px; @h: auto);
				background-position: center right 25px;
				//box-shadow: 0 4px 14px 0 rgba(0,52,156,0.5);
				.card__item:hover &{
					border-color: @white;
					box-shadow: 0 12px 34px 0 rgba(0,0,84,0.5);
				}
				.media-breakpoint-up(@md; {
					margin-top: 25px;
					padding: 20px 25px;
				});
			}
			&-search{
				.btn-clearfix();
				text-align: left;
				width: 100%;
				border: 1px solid @success;
				background-color: @white;
				padding: 7px 10px;
				padding-right: 30px;
				.icon-next(@c:'333';@w: 7px; @h: auto);
				background-position: center right 15px;
				.media-breakpoint-up(@md; {
					border-color: @blue-c6;
					padding: 20px;
					.icon-next(@c:'333';@w: 10px; @h: auto);
					background-position: center right 20px;
					padding-right: 40px;
					opacity: 0;
					margin: 20px 20px 30px 0px;
					width: ~"calc(100% - 15px)";
					.card__item:hover &{
						opacity: 1;
					}
				});
			}
		}
	}
}