.card__{
	&item{
		&.is--menedzhment{
			position: relative;
			margin-bottom: 50px;
			padding: 25px 20px;
  			.media-breakpoint-down(@sm; {
  				box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
				background-color: @white;
			});
			.media-breakpoint-up(@sm; {
				padding: 80px 145px 0 0;
				margin-bottom: 70px;
			});
		}
		&.is--news{
			display: flex;
			flex-direction: column;
			background-color: @white;
			box-shadow: 0 12px 34px 1px rgba(0,52,156,0.25);
			.media-breakpoint-up(@md; {
				min-height: 315px;
			});
		}
		&.is--programm{
			position: relative;
			padding: 30px 30px 0;
			display: flex;
			flex-direction: column;
			
			.media-breakpoint-down(@lg; {
				border-top: 1px solid @white-e9;
				&:last-child{
					padding-bottom: 30px;
					border-bottom: 1px solid @white-e9;
				}
			});
			.media-breakpoint-up(@lg; {
				padding: 45px 30px 60px;
				min-height: 495px;
				border-left: 1px solid @white-e9;
				&:last-child{
					border-right: 1px solid @white-e9;
				}
				& > *{
					position: relative;
					z-index: 2;
				}
				&::before{
					content: '';
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					transition: @trs-site;
				}
				&:hover{
					&::before{
						background-color: @white;
						transform: scale(1.14, 1.07);
						box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
					}
				}
			});
		}
		&.is--reviews{
			position: relative;
			z-index: 1;
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 20px;
			}
			&::before{
				content: '';
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				max-width: 290px;
				width: 100%;
				height: 330px;
				background-color: @primary;
				transition: @trs-site;
				clip-path: polygon(0 12%,100% 0%,100% 88%,0% 100%);
			}
			&:nth-child(3n+2){
				&::before{
					background-color: @primary-a;
				}
			}
			&:nth-child(3n+3){
				&::before{
					background-color: @blue-75;
				}
			}
			&:hover{
				&::before{				
					clip-path: polygon(0 0,100% 12%,100% 100%,0% 88%);
					background-color: @success;
				}
			}
			.media-breakpoint-up(@md; {
				padding: 75px 0 0 140px;
				margin-bottom: 6.5vw;
				&:last-child{
					margin-bottom: 3.25vw;
				}
			});
		}
		&.is--articles{
			border-top: 2px solid @white-e9;
			padding-top: 30px;
			padding-bottom: 40px;
			&:last-of-type{
				border-bottom: 2px solid @white-e9;
				margin-bottom: 30px;
			}
			.media-breakpoint-up(@md; {
				&:last-of-type{
					margin-bottom: 4vw;
				}				
			});
		}
		&.is--catalog{
			&-new{
				position: relative;
				&::after{
					content: '';
					position: absolute;
					bottom: 15px;
					right: 0px;
					width: 16px;
					height: 16px;
					.icon-next(@c:'fff';@w: 10px; @h: auto);
					background-position: center;
					opacity: 0;
					transition: @trs-site;
				}
				&:hover{
					&::after{
						opacity: 1;
						right: 15px;
					}
				}
			}
			&-promo{
				.media-breakpoint-up(@md; {
					padding: 45px 40px 0 0;	
					position: relative;
					max-width: 530px;
					margin: 0 auto;				
				});
			}
		}
	}
	&wrap{	
		&.is--menedzhment{
			background-color: @white;
  			.media-breakpoint-up(@sm; {
				padding: 35px 180px 20px 25px;
  				box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
				background-color: @white;
			});			
		}
		&.is--news{
			display: flex;
			flex-wrap: wrap;
			flex: 1 1 0;
			padding: 15px 15px 20px;
			background-position: right 25px bottom 25px;
			.card__item:hover &{
				.icon-next(@c: '636363');
			}
		}
		&.is--reviews{
			box-shadow: 0 12px 34px 0 rgba(0,52,156,0.25);
			background-color: @white;	
			padding: 30px;
			display: grid;
			grid-gap: 25px 15px;
			.media-breakpoint-up(@md; {
				grid-template-columns: repeat(12, 1fr);
				& > [data-grid-heading]{
					grid-column: span 9;
				}
				& > [data-grid-date]{
					grid-column: span 3;
					justify-self: flex-end;
				}
				& > [data-grid-note]{
					grid-column: span 12;
				}
				& > [data-grid-sign]{
					grid-column: span 7;					
				}
				& > [data-grid-video]{
					grid-column: span 5;	
					align-self: flex-end;	
					justify-self: flex-end;
				}

			});	
		}
		&.is--catalog{
			&{
				border: 1px solid @blue-c6;
				margin-bottom: 20px;
				transition: @trs-site;
				.card__item:hover &{
					box-shadow: 0 12px 24px 0 rgba(0,52,156,0.25);
				}
			}
			&-body{
				background-color: @white;
				padding: 25px 20px;
			}
			&-promo{
				background-color: @white;
				border: 1px solid @blue-c6;
			    max-width: 405px;
    			padding: 30px;
				transition: @trs-site;
				.media-breakpoint-up(@md; {
					position: absolute;
					top: 0;
					border: 0;
					right: -15px;
					box-shadow: 0 12px 34px 0 rgba(0,52,156,0.5);
					opacity: 0;
					.card__item:hover &{
						opacity: 1;
						right: 0px;
					}
					
				});
			}
		}
	}
	&row{}
	&cols{}
	/*&bg{
		transition: @trs-site;		
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		display: flex;
		align-items: center;
		padding: 20px;
		background-color: fadeout(@success, 10%);
		.media-breakpoint-up(@lg; {
			padding: 2.5vw;			
		});
		.card-item__card:hover &,
		.card-item__card.is--active &{
			opacity: 1;
		}
	}
	&view{		
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 44px;
		height: 44px;
		color: @white;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 44px;
		background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M43 22c0 11.5979-9.402 21-21 21S1 33.5979 1 22 10.402 1 22 1s21 9.4021 21 21zm1 0c0 12.1502-9.8497 22-22 22S0 34.1502 0 22C0 9.8499 9.8497 0 22 0s22 9.8499 22 22zm-4.9678 0c0 9.4067-7.6256 17.0322-17.0323 17.0322-9.4067 0-17.0323-7.6255-17.0323-17.0322S12.5932 4.9678 22 4.9678c9.4067 0 17.0323 7.6255 17.0323 17.0322zm-11.4435.7983h-4.7904v4.7903a.7984.7984 0 1 1-1.5967 0v-4.7903h-4.7903a.7984.7984 0 1 1 0-1.5969h4.7903v-4.7903A.7983.7983 0 0 1 22 15.6128a.7983.7983 0 0 1 .7983.7983v4.7903h4.7904a.7985.7985 0 0 1 0 1.5969z' fill='%23fff'/%3E%3C/svg%3E");
		svg{display: block;}
	}*/

	&preview{
		display: block;
		position: relative;
		svg{display: block;}
		&.is--menedzhment{
			margin-bottom: 15px;
			img{
				margin-left: auto;
				margin-right: auto;
			}
  			.media-breakpoint-up(@sm; {
				position: absolute;
				max-width: 290px;
				top: 0;
				right: 0;
				clip-path: polygon(0 12%,100% 0%,100% 88%,0% 100%);
				transition: @trs-site;
				.card__item:hover &{
					clip-path: polygon(0 0,100% 12%,100% 100%,0% 88%);
				}
			});
		}
		&.is--news{
			&{
				height: 140px;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background-color: fadeout(@primary, 50%);
					width: 100%;
					height: 100%;
					transition: @trs-site;
					.card__item:hover &{
						background-color: fadeout(@primary, 100%);
					}
				}
				img{
					.img-fit();
					object-position: center;
				}
			}
			&-card{
				position: relative;
				height: 150px;
				margin-bottom: 20px;
				.media-breakpoint-up(@sm; {
					height: 335px;
					margin-bottom: 40px;
				});
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background-color: fadeout(@primary, 50%);
					width: 100%;
					height: 100%;
					transition: @trs-site;
				}
				img{
					.img-fit();
					object-position: center;
				}
			}
		}
		&.is--catalog{
			&{
				height: 190px;
				img{
					.img-fit();
					object-position: center;
				}
			}
			&-new{
				height: 410px;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background-color: fadeout(@primary, 50%);
					width: 100%;
					height: 100%;
					transition: @trs-site;
				}
				img{
					.img-fit();
					object-position: center;
				}
			}
			&-promo{
				height: 320px;
				.bg();
			}
		}
	}
	&heading{
		transition: @trs-site;
		&.is--menedzhment{
			&{
				.heading4();
				font-weight: 700;
				margin-bottom: 5px;
			}
			&-post{
				margin-bottom: 25px;
			}
		}
		&.is--news{
			&{
				font-weight: 700;
				margin-bottom: 5px;
				.heading5();
				.card__item:nth-child(1) &,
				.card__item:nth-child(2) &,
				.card__item:nth-child(3) &,
				.card__item:nth-child(4) &{
					.heading4();
				}
				a{
					color: @default;
					.card__item:hover &{
						color: @primary;
					}
				}
			}
		}
		&.is--programm{
			.heading3();
			font-weight: 700;
			margin-bottom: 15px;
		}
		&.is--reviews{
			.heading5();
			font-weight: 700;
		}
		&.is--articles{
			.heading3();
			font-weight: 700;
			a{
				color: @default;
				&:hover{
					color: @primary-h;
				}
				&:active{
					color: @primary-a;
				}
			}
		}
		&.is--catalog{
			&{
				.heading5();
				font-weight: 700;
			}

			&-new{
				position: absolute;
				left: 15px;
				bottom: 60px;
				right: 25px;
				.heading4();
				color: fadeout(@white, 100%);
				font-weight: 700;
				transition: @trs-site;
				.card__item:hover &{
					color: @white;
					left: 25px;
				}
			}
			&-promo{
				.heading-md();				
				font-weight: 700;
				margin-bottom: 25px;
			}
		}
	}
	&note{
		&.is--menedzhment{
			font-weight: 100;
			font-size: 0.89em;
			p, div{
				margin-bottom: 25px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&.is--news{
			font-weight: 100;
			font-size: 0.889em;
			margin-bottom: 10px;
			overflow: hidden;
    		height: 75px;
		}	
		&.is--programm{
			color: @black-9a;
			line-height: 1.63em;
			margin-bottom: 20px;
			transition: @trs-site;
			.card__item:hover &{
				color: @default;
			}
		}	
		&.is--reviews{
			font-weight: 100;
			font-size: 0.889em;
		}
	}	
	&sign{
		&.is--reviews{
			color: @black-9a;
			font-size: 0.889em;
		}
	}
	&video{
		&.is--reviews{
			font-size: 0.78em;
			a{
				color: @success;
				&:hover{
					color: @success-h;
				}
				&:active{
					color: @success-a;
				}
			}
		}
	}
	&date{	
		&.is--news{
			&{
				margin-top: auto;
				color: @black-98;
				font-size: 0.77em;
			}
			&-card{
				display: block;
				color: @black-98;
				font-size: 0.77em;
				margin-bottom: 35px;
			}
		}
		&.is--reviews{
			color: @black-98;
			font-size: 0.77em;
			white-space: nowrap;
		}
		&.is--articles{
			display: inline-block;
			color: @black-98;
			margin-bottom: 15px;
		}
	}
	&value{
		&.is--programm{
			color: fadeout(@blue-08, 50%);
			transition: @trs-site;
			margin-top: auto;
			.media-breakpoint-down(@lg; {
				br{display: none;}
			});
			span{
				display: block;
				font-weight: 700;
				font-size: 1.8em;
				line-height: 1.28em;
			}
			.card__item:hover &{
				color: @success;
			}
		}
		&.is--catalog{
			&{
				font-weight: 100;
				.heading6();
				margin-bottom: 10px;
				span{
					font-weight: 700;
				}
				&.is--type{
					color: @primary;
					margin-bottom: 25px;
				}
			}
			&-new{
				color: @success;
				position: absolute;
				top: 25px;
				right: 15px;
				font-size: 0.88em;
				font-weight: 700;
			}
			&-promo{
				font-weight: 100;
				&.is--cost{
					.heading3();
					margin-bottom: 15px;					
				}
				&.is--status{
					.heading4();
					color: @success;
				}
			}
		}
	}
	&btn{
		&.is--catalog{
			&{
				.btn-clearfix();
				text-align: left;
				width: 100%;
				border: 1px solid @blue-c6;
				background-color: @white;
				padding: 20px;
				padding-right: 40px;
				.icon-next(@c:'333';@w: 10px; @h: auto);
				background-position: center right 20px;
				.card__item:hover &{
					box-shadow: 0 12px 24px 0 rgba(0,52,156,0.25);
					border-color: @white;
				}
			}
			&-promo{
				.btn-clearfix();
				text-align: left;
				width: 100%;
				.heading4();				
				background-color: @white;
				margin-top: 25px;
				padding: 20px 25px;
				padding-right: 40px;
				.icon-next(@c:'333';@w: 10px; @h: auto);
				background-position: center right 25px;
				box-shadow: 0 4px 14px 0 rgba(0,52,156,0.5);
				.card__item:hover &{
					border-color: @white;
					box-shadow: 0 8px 20px 0 rgba(0,52,156,0.5);
				}
			}
		}
	}
	&elem{}
	&elem-icon{}
}