.map__{
	&block{
		position: relative;
	}
	&map{
		width: 100%;
		height: 300px;
		.media-breakpoint-up(@sm; {
			height: 250px;
		});
		.media-breakpoint-up(@md; {
			height: 590px;			
		});
		&.is--block{			
			&-map{
				//.media-breakpoint-up(@md; {
					height: 660px;			
				//});
			}
		}
	}
	&container{
		position: relative;
		.media-breakpoint-down(@md; {
			position: absolute;
			z-index: 1;
			top: 30px;
		});
	}
	&panel{
		display: none;
		padding: 25px;
		background-color: @white;
		box-shadow: 0 12px 24px 0 rgba(0,52,156,0.25);
		.media-breakpoint-down(@md; {
			font-size: 14px;
		});
		.media-breakpoint-up(@md; {
			position: absolute;
			z-index: 5;
			top: 15px;
			left: 15px;
			display: block;
			width: 100%;
			max-width: 300px;
		});
		.media-breakpoint-up(@xl; {
			top: 65px;
			//left: 18.5%;
			left: 15px;
			padding: 55px 45px;
			max-width: 495px;
		});
		&.is--block{			
			&-map{
				display: block;	
				margin-bottom: 20px;
				.media-breakpoint-up(@md; {
					top: 90px;
					left: 15px;
					right: 15px;					
				});
				.media-breakpoint-up(@xl; {
					top: 155px;
				});
			}
		}

	}
	&item{
		font-weight: 500;
		line-height: 1.56em;
		margin-bottom: 10px;
		&.is--address{
			font-weight: 400;
			margin-bottom: 20px;
		}
		.media-breakpoint-up(@md; {
			margin-bottom: 15px;
			&.is--address{
				margin-bottom: 30px;
			}
		});	
	}
	&heading{
		font-size: 1.7em;
   		line-height: 1.3em;
		font-weight: 500;
		margin-bottom: 10px;
		.media-breakpoint-up(@md; {
			.heading3();
			margin-bottom: 15px;
		});	
	}
}