.content-block__{
	&panel{	
		position: relative;
		overflow: hidden; 
	}
	&container{	
		//position: relative;
		//z-index: 5;
		@media print{padding: 0!important}		
		padding-top: 40px;
		padding-bottom: 40px;
		.media-breakpoint-up(@lg; {
			padding-top: 4vw;
			padding-bottom: 5vw;			
		});
		&.is--full{
			@media @media-point-smart {
				min-height: ~"calc(100vh - @{navbar_xs})";
			}
			@media @media-point-sm {
				min-height: ~"calc(100vh - @{navbar_sm} - @{footer_device_sm_p})";
			}
			@media @media-point-md1 {
				min-height: ~"calc(100vh - @{navbar_sm} - @{footer_device_sm_l})";
			}
			@media @media-point-screen {					
				min-height: ~"calc(100vh - @{navbar_screen} -  @{footer_screen})";
			}
			@media @media-point-md2 {
				min-height: ~"calc(100vh - @{navbar_md} - @{footer_screen_md})";
			}
			@media @media-point-lg {
				min-height: ~"calc(100vh - @{navbar_lg} - @{footer_screen_lg} )"; 
			}
			@media @media-point-xxl {
				min-height: ~"calc(100vh - @{navbar_xxl} -  @{footer_screen_xxl})"; 
			}			
			body.is--navbar_bottom &{
				@media @media-point-sm {
					min-height: ~"calc(100vh - @{navbar_sm} - @{footer_device_sm_p} - @{navbar_bottom})";
				}
				@media @media-point-md1 {
					min-height: ~"calc(100vh - @{navbar_sm} - @{footer_device_sm_l} -  @{navbar_bottom})";
				}
				@media @media-point-md2 {	
					min-height: ~"calc(100vh - @{navbar_md} - @{footer_screen_md} - @{navbar_bottom_tabs} - @{navbar_bottom})"; 
				}
			}
		}
		&.is--p0{
			padding-top: 0;
			padding-bottom: 0;
			min-height: inherit;
		}
		&.is--pt0{
			padding-top: 0;
		}
		&.is--pb0{
			padding-bottom: 0;
		}
		&.is--overflow{
			overflow: hidden;
			position: relative;
		}
		&.is--index{
			&-programm{
				.media-breakpoint-up(@lg; {
					//padding-top: 3.4vw;
					//padding-bottom: 7.9vw;
					padding-top: 6.3vw;
    				padding-bottom: 6.3vw;
				});
			}
		}
		&.is--page{
			&-news{
				.media-breakpoint-up(@lg; {
    				padding-bottom: 3.5vw;
				});
			}
			&-contacts{
				.media-breakpoint-up(@lg; {
    				padding-bottom: 9.4vw;
				});
			}
		}
	}
	&elem{
		margin-bottom: 35px;
		@media @media-point-screen { margin-bottom: 3.5vw; }
		&.is--xs{
			margin-bottom: 20px;			
		}
		&.is--sm{
			margin-bottom: 25px;
			@media @media-point-screen { margin-bottom: 2.5vw; }
		}
		&.is--lg{
			margin-bottom: 30px;
			@media @media-point-screen { margin-bottom: 3vw;}
		}
		&.is--posr{
			position: relative;
		}
		&.is--hidden{
			overflow: hidden;
		}
		&.is--center{
			text-align: center;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	&row{
		&.is--index{
			&-programm{
				.media-breakpoint-up(@lg; {
					grid-template-columns: repeat(3, 1fr);
				});
			}
		}
		&.is--page{
			&-aside{
				&{
					grid-template-columns: 100%;	
					.media-breakpoint-up(@xl; {
						grid-template-columns: 4fr 8fr;				
					});
				}
				&-sm{
					grid-template-columns: 100%;	
					.media-breakpoint-up(@xl; {
						grid-template-columns: 3fr 9fr;				
					});
				}
			}
			&-news{
				align-self: flex-start;
				.media-breakpoint-up(@md; {
					grid-template-columns: repeat(2, 1fr);
					& > *{
						&.is--pagination{
							grid-column: span 2;
							margin-top: 40px;
						}						
					}

				});
				.media-breakpoint-up(@lg; {
					grid-template-columns: repeat(12, 1fr);
					grid-gap: 25px 16px;
					& > *{
						grid-column: span 4;
						&:nth-child(1),
						&:nth-child(4){
							grid-column: span 7;
						}
						&:nth-child(2),
						&:nth-child(3){
							grid-column: span 5;
						}
						&:nth-child(3),
						&:nth-child(4){
							margin-bottom: 15px;
						}
						&.is--pagination{
							grid-column: span 12;
							margin-top: 40px;
						}
					}		
				});
			}
			&-contacts{
				& > *{
					&:nth-child(3){
						height: 2px;
						background-color: @white-e9;
						margin: 0;
						border: 0;
					}
				}
				.media-breakpoint-up(@md; {
					grid-template-columns: repeat(2, 1fr);	
					& > *{
						&:nth-child(1){
							align-self: flex-end;
						}
						&:nth-child(3){
							grid-column: span 2;
							margin-top: 6vw;
							margin-bottom: 1.8vw;
						}
						&:nth-child(4){
							grid-column: span 2;
						}
					}

				});
				.media-breakpoint-up(@lg; {	
					grid-template-columns: 7fr 5fr;			
				});				
			}
			&-catalog{	
				grid-gap: 40px 16px;		
				& > *.is--new{
					grid-gap: 30px 16px;
				}	
				.media-breakpoint-up(@xl; {
					grid-template-columns: repeat(3, 1fr);
					& > *.is--new,
					& > *.is--heading{
						grid-column: span 3;
					}		
					& > *.is--new{
						margin-top: 25px;
						margin-bottom: 45px;
					}		
				});

			}
		}
	}		  
	&wrap{
		&.is--page{
			&-vacancies{
				background-color: @white-f2;
				padding: 25px 20px;
				.media-breakpoint-up(@lg; {
					padding: 50px 55px;
				});
			}
		}
	}
}