<main class="{{content_prefix}}panel">
	<section class="{{content_prefix}}container container">
		{% include "../common/breadcrumb/tpl.twig" with {
			prefix:prefix.breadcrumb, 
			mod:bread_mod, 
			bread:bread
		} %}	
		{% include "../common/page-header/tpl.twig" with {
			prefix:"page-header__", 
			group:heading_group,
			mod:heading_mod,
			level:heading_level, 
			heading:heading
		} %}
		{% set navbar = [
	    	{"name":"Главная страница", "link":page.index},
	    	{"name":"Лизинг", "link":page.leasing},
	    	{"name":"Партнеры", "link":page.partners},
	    	{"name":"Инвесторам", "link":page.investors},
	    	{"name":"Реквизиты", "link":page.requisites},
	    	{"name":"Сведения о выпуске ценных бумаг", "link":page.securities},
	    	{"name":"Руководство", "link":page.menedzhment},
			{"name":"Отзывы", "link":page.reviews},
	    	{"name":"Новости", "link":page.news},
	    	{"name":"Новости - карточка", "link":page.news_card},
	    	{"name":"Статьи", "link":page.articles},
	    	{"name":"Статьи - карточка", "link":page.articles_card},
	    	{"name":"Вакансии", "link":page.vacancies},
	    	{"name":"Вакансии - нет", "link":page.vacancies_no},
	    	{"name":"Вакансии - карточка", "link":page.vacancies_card},
			{"name":"Каталог", "link":page.catalog},
			{"name":"Каталог - карточка", "link":page.catalog_card},
			{"name":"Офисы продаж", "link":page.contacts},
			{"name":"Поиск", "link":page.search},
			{"name":"404", "link":page.404},
		] %}
		<ul>			
		{% for value in navbar %}
			<li><a href="{{value.link}}" target="_blink">{{value.name}}</a></li>
	    {% endfor %}
		</ul>
	</section>
</main>