.btn__{
	&clearfix{
		.btn-clearfix();
	}
	&item{
		.btn-clearfix();
		font-size: @btn_fs;
		line-height: @btn_lh;
		font-weight: 400;
		position: relative;	
		display: inline-block; 	
		background-color: @btn_bg_color; 
		text-align: center;	
		color: @btn_color;
		border-radius: @btn_radius;
		padding: 13px 15px;
		padding: 14px 13px 10px;
		border-width: 1px;
		border-style: solid;
		border-color: @btn_border_color;
		&:hover{			
			color: @btn_hover_color;
			background-color: @btn_hover_bg_color;
			border-color: @btn_hover_border_color;
		}
		&:active{			
			color: @btn_active_color;
			background-color: @btn_active_bg_color;
			border-color: @btn_active_border_color;
		}
		&.is--arrow{
			text-align: left;
			padding-right: 30px;
			.icon-next(@c:'fff');
			background-position: center right 15px;
		}
		//color
		&.is--success{
			background-color: @success;
			border-color: @success;
			&:hover{
				background-color: @success-h;
				border-color: @success-h;
			}
			&:active{
				background-color: @success-a;
				border-color: @success-a;
			}
		}
		&.is--black-29{
			background-color: @black-29;
			border-color: @success;
			&:hover{
				background-color: @success-h;
				border-color: @success-h;
			}
			&:active{
				background-color: @success-a;
				border-color: @success-a;
			}
		}
		&.is--white{		
			color: @btn_w_color;
			background-color: @btn_w_bg_color;
			border-color: @btn_w_border_color;
			&:hover{			
				color: @btn_w_hover_color;
				background-color: @btn_w_hover_bg_color;
				border-color: @btn_w_hover_border_color;
			}
			&:active{			
				color: @btn_w_active_color;
				background-color: @btn_w_active_bg_color;
				border-color: @btn_w_active_border_color;
			}
			&.is--arrow{
				.icon-next(@c:'333';);
				&:hover{
					.icon-next(@c:'fff';);
				}
			}
		}
		//size
		&.is--lg{
			.heading4();
			padding: 20px 20px;
			.media-breakpoint-down(@md; {
				padding: 10px 20px;
				width: 100%;
			});
			.media-breakpoint-up(@lg; {
				padding: 26px 40px 22px 49px;
			});
			&:hover{
				box-shadow: 0 12px 34px 0 rgba(0,0,84,0.25);
			}
			&:active{
				box-shadow: 0 12px 34px 0 rgba(0,0,84,0);
			}
		}
		&.is--md{
			//font-size: @btn_fs - 2;
			font-size: 0.88em;
			line-height: 1.4em;
			min-width: 248px;
		}
		//old
		/*
		&.is--invers{		
			color: @btn_i_color;
			background-color: @btn_i_bg_color;
			//border-color: @btn_i_border_color;
			&:hover{			
				color: @btn_i_hover_color;
				background-color: @btn_i_hover_bg_color;
				//border-color: @btn_i_hover_border_color;
			}
		}	
		&.is--block{
			.media-breakpoint-up(@lg; {
				width: 100%;
			});
		}
		&.is--xl{
			.media-breakpoint-up(@lg; {
				padding: 25px 3.2vw;
			});
		}
		&.is--lg{
			.media-breakpoint-up(@lg; {
				padding: 15px 3vw;
			});
		}	
		&.is--sm{
			.media-breakpoint-up(@lg; {
				padding: 12px 1.5vw;
			});
		}	
		&.is--xs{
			font-size: @btn_fs - 2;
			line-height: @btn_lh - 2;
			.media-breakpoint-up(@lg; {
				padding: 8px 1vw;
			});
		}*/	
	}
}
.link__{
	&group{
		display: flex;
		flex-wrap: wrap;
		& > * {
			margin-bottom: 5px;
		}
		//.media-breakpoint-up(@md; {
			justify-content: space-between;
		//});
	}
	&item{
		.btn-clearfix();
		display: inline-block;
		transition: @trs-site; 	
		color: @link_color;
		&.is--prev{
			.icon-prev(@c:'989898');
			background-position: left 5px;
			padding-left: 25px;
			&:hover{
				.icon-prev();
			}
		}
		&.is--next{
			.icon-next(@c:'989898');
			background-position: right 5px;
			padding-right: 25px;
			&:hover{
				.icon-next();
			}
		}
		&.is--md{
			.media-breakpoint-up(@md; {
				font-size: 1.337em;
				padding-left: 35px;
				&.is--prev{
					background-position: left 1px;
					.icon-prev(@c:'989898'; @w: 12px; @h: auto;);
				}
			});
		}
		&:hover{			
			color: @link_color_hover;
		}
		&:active{			
			color: @link_color_active;
		}
	}
}