.page-header__{
	&panel{
		align-items: center;
		& > .cols{
			.media-breakpoint-down(@sm; {
				flex-basis: 100%;
			});
			&:nth-child(2){
				//.media-breakpoint-up(@md; {
					margin-left: auto;
					justify-self: flex-end;
				//});
			}
			&.is--back{
				.media-breakpoint-down(@md; {
					display: none;
				});
			}
		}
	}
	&heading{
		sup{
			font-weight: 100;
			color: @success;    
			font-size: 55%;
    		top: -1.15em;
		}
		&.is--leasing{
			&-header{
				margin-bottom: 5px;
				//max-width: 400px;
				.media-breakpoint-up(@md; {
					margin-bottom: 10px;
				});
			}
			&-header-sm{
				max-width: 470px;
				margin-bottom: 10px;
				.media-breakpoint-down(@md; {
					font-size: 1.25em;
					line-height: 1.55em;
				});
			}
			&-header-value{
				font-size: 2.1em;
				line-height: 1.6em;
				align-self: flex-end;
				span{
					display: block;
					font-size: 1.9em;
					text-transform: uppercase;
				}
				.media-breakpoint-down(@md; {
					display: none;
				});
				.media-breakpoint-up(@lg; {
					font-size: 3.1em;
					line-height: 2.1em;
					span{
						font-size: 2.9em;
					}
					
				});
			}
			&-condition{
				.media-breakpoint-down(@md; {
					font-size: 1.2em;					
				});
			}			
			&-condition-sm{				
				max-width: 420px;
				line-height: 1.5em;
				margin-bottom: 20px;
				.media-breakpoint-up(@lg; {
					margin-bottom: 57px;
				});
			}
			&-formaliz{	
				margin-bottom: 15px;			
				.media-breakpoint-up(@md; {
					margin-bottom: 20px;
				});
			}
			&-adv{
				margin-bottom: 30px;				
				.media-breakpoint-up(@md; {
					margin-bottom: 6vw;
				});
			}
			&-catalog{
				.media-breakpoint-down(@md; {
					margin-bottom: 35px;
				});
			}
			&-conditions{				
				margin-bottom: 15px;
				.media-breakpoint-up(@md; {
					margin-bottom: 40px;
				});
			}
			&-news{				
				margin-bottom: 20px;
				.media-breakpoint-up(@md; {
					margin-bottom: 40px;
				});
			}
		}
		&.is--catalog{
			&-screen{
				display: none;
				.media-breakpoint-up(@md; {
					display: block;
				});
			}
			&-device{
				display: block;
				text-align: center;
				.media-breakpoint-up(@md; {
					display: none;
				});
			}
			&-card-programm{
				.media-breakpoint-up(@md; {
					margin-bottom: 5.1vw;
				});
			}
		}
		&.is--form{
			&-leasing{
				.media-breakpoint-down(@md; {
					font-size: 1.72em;
					line-height: 1.2em;
				});
				.media-breakpoint-up(@md; {
					margin-bottom: 15px;
				});
			}
			&-leasing-base{
				margin-bottom: 5px;
				.media-breakpoint-up(@lg; {
					margin-bottom: 10px;
				});
			}
			&-leasing-base-xs{
				margin-bottom: 20px;
				.media-breakpoint-up(@md; {
					margin-bottom: 25px;
				});				
			}
			&-leasing-base-result{
				margin-bottom: 5px;
				.media-breakpoint-down(@lg; {
					font-size: 1.4em;
				});
				.media-breakpoint-up(@lg; {
					margin-bottom: 15px;
					font-size: 2em;
				});
			}
		}
		&.is--line{
			display: flex;
			align-items: center;
			justify-content: center;
			&::before,
			&::after{
				content: '';
				height: 1px;
				background-color: @primary-l;
				flex: 1 1 0;
			}
			&::before{
				margin-right: 15px;
			}
			&::after{
				margin-left: 15px;
			}
		}
	}
}