@maket: url(/img/maket/form-xs.png) no-repeat center 0px;
@maket: url(/img/maket/contacts-xs.png) no-repeat center 0px;
@maket: url(/img/maket/catalog-card-xs.png) no-repeat center 0px;
@maket: url(/img/maket/form-xs.png) no-repeat center 0px;
@maket: url(/img/maket/news-xs.png) no-repeat center 0px;
@maket: url(/img/maket/index-new-l.png) no-repeat center 0px;
@maket: url(/img/maket/leasing-adv.png) no-repeat center 0px;
@maket: url(/img/maket/leasing-adv-xs.png) no-repeat center 0px;
@maket: url(/img/maket/karera.png) no-repeat center 0px;
@maket: url(/img/maket/navbar-scroll.jpg) no-repeat center 0px;
@maket: url(/img/maket/investors-xs.png) no-repeat center 0px;
//@maket: url(/img/maket/karera-xs.png) no-repeat center 0px;
//@maket: url(/img/maket/style.png) no-repeat center 0px;
@opacity: 0.7;
//@opacity: 0.4;
//@opacity: 0.8;
body{ 
	//background: @white @maket;
	//opacity: @opacity;  
	//background-size: 1366px auto;  
	//background-position: center -4583px;    
	//background-size: 375px auto; 
	//background-size: 768px auto;  
	//background-size: 1910px auto;  
	//background-size: 1366px auto;  
	//background-position: center 506px; 
	//background-position: 276px 62px; 
	
	//background-position: -17px -1005px; 
	//background-position: 569px -78px; 
	//style
	//background-size: 4005px auto;  
	//all
	//background-position: -45px -82px; 
	//background-position: -755px -499px; 

	//background-position: -407px 1521px;  
} 