.continfo__{
	&block{
		&.is--email-tel{
			margin-bottom: 30px;
			.media-breakpoint-up(@md; {
				margin-bottom: 55px;
			});			
		}
		&.is--office{
			&-main{
				background-color: @white;
				box-shadow: 0 12px 24px 0 rgba(0,52,156,0.25);
				padding: 50px 40px;
			}
		}
	}
	&header{
		&.is--office{
			&-main{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 20px;
			}
		}

	}
	&heading{
		&.is--office{
			&-main{
			}
		}

	}
	&link{
		&.is--office{
			&-main{
				font-size: 0.77em;
				a{
					color: @success;					
					&:hover{
						color: @success-h;
					}
					&:active{
						color: @success-a;
					}	
				}
			}
		}
	}
	&card{
		&.is--email-tel{
			margin-bottom: 30px;
			.media-breakpoint-up(@md; {
				margin-bottom: 40px;
			});	
			&:last-child{
				margin-bottom: 0px;
			}		
		}
		&.is--office{
			&-main{
				font-weight: 700;
				margin-bottom: 20px;
				&.is--address{
					font-weight: 400;
					margin-bottom: 30px;
				}
				.media-breakpoint-up(@md; {
					&.is--address{
						margin-bottom: 4vw;
					}
				});
			}
		}
	}
	&item{
		&.is--email-tel{
			display: inline-block;
			font-weight: 700;
			.heading2();
			color: @default;
			margin-bottom: 10px;			
		}

		&.is--office{
			&-main{
				color: @default;
			}
		}
	}
	&label{
		&.is--email-tel{
			
		}
	}
}