<main class="{{content_prefix}}panel  {{content_mod}}">
	<div class="{{content_prefix}}container container  is--full">
		{% include "../../common/breadcrumb/tpl.twig" with {
			prefix:prefix.breadcrumb, 
			mod:bread_mod, 
			bread:bread
		} %}	
		{% include "../../common/page-header/tpl.twig" with {
			prefix:"page-header__", 
			mod:heading_mod, 
			group:heading_group, 
			level:heading_level, 
			heading:heading
		} %}	
		<div class="{{content_prefix}}row  grid__row   is--page-aside">
			{% include "../../common/aside/tpl.twig" with {
				prefix: "aside__",
				heading: "Другие разделы",
				active: page.menedzhment,
				nav:[
					{name:"Инвесторам", link: ""},
					{name:"Отзывы", link: page.reviews},
					{name:"Новости", link: page.news},
					{name:"Новости для инвесторов", link: ""},
					{name:"Руководство", link: page.menedzhment},
					{name:"Цифры и факты", link: ""},
					{name:"Преимущества", link: ""},
					{name:"Вакансии", link: page.vacancies},
					{name:"Наши офисы", link: page.contacts}
				]
			} %}
			<div class="grid__cols">
				{% include "../../common/card/card.twig" with {
					view: "menedzhment",
					prefix: prefix.card,
					mod: 'is--menedzhment',
					list:[
						{
							name:"Андрей Писаренко", 
							post: "Генеральный директор", 
							img: [path.img,"/temp/team1.jpg"].join(""), 
							note: "<p>Писаренко Андрей Витальевич работал в&nbsp;ООО «Элемент Лизинг» с&nbsp;2004 года в&nbsp;должности Коммерческого директора, а&nbsp;с&nbsp;августа 2014 года Андрей Писаренко стал занимать должность Генерального директора.</p><p>С&nbsp;2003 по&nbsp;2004 год Андрей Писаренко работал в&nbsp;ЗАО «КМБ-Лизинг» на&nbsp;позиции Директора по&nbsp;лизинговым операциям. До&nbsp;этого (2001 по&nbsp;2003&nbsp;год) Андрей работал в&nbsp;Международной Финансовой Корпорации в&nbsp;должности Заместителя руководителя проекта по&nbsp;развитию лизинга в&nbsp;России.</p><p>Писаренко Андрей Витальевич закончил Нижегородский государственный лингвистический университет.</p>"
						},
						{
							name:"Ольга Бортняева", 
							post: "Первый заместитель генерального директора", 
							img: [path.img,"/temp/team1.jpg"].join(""), 
							note: "<p>Бортняева Ольга Вячеславовна работает в&nbsp;ООО «Элемент Лизинг» с&nbsp;2007&nbsp;года. </p><p>До&nbsp;прихода в&nbsp;компанию Ольга работала в&nbsp;ООО «Ньюс Аутдор» в&nbsp;должности Заместителя генерального директора по&nbsp;финансовым вопросам. Профессиональный опыт также включает в&nbsp;себя работу в&nbsp;аудиторской компании Deloitte &amp;&nbsp;Touche, компаниях Mars (в&nbsp;России и&nbsp;в&nbsp;Сингапуре) и&nbsp;Pepsi Cola. </p><p>Ольга Бортняева с&nbsp;отличием окончила Московский государственный институт международных отношений МИД СССР, имеет профессиональную бухгалтерскую сертификацию FCCA.</p>"
						},
						{
							name:"Сергей Беличенко", 
							post: "Директор по продажам", 
							img: [path.img,"/temp/team1.jpg"].join(""), 
							note: "<p>Беличенко Сергей Александрович начал работать в&nbsp;ООО «Элемент Лизинг» с&nbsp;2007 года в&nbsp;должности руководителя направления корпоративных сделок, в&nbsp;декабре 2008 года стал занимать должность Директора бизнес-направления «Страхование», а&nbsp;в&nbsp;мае 2015 года ─ должность Директора по&nbsp;продажам. </p><p>Сергей окончил Российскую Экономическую Академию им. Г.В. Плеханова по&nbsp;специальностям «Национальная экономика» и&nbsp;«Финансы и&nbsp;кредит», кандидат экономических наук.</p>"
						},
						{
							name:"Оксана Рухлядева", 
							post: "Финансовый директор", 
							img: [path.img,"/temp/team1.jpg"].join(""), 
							note: "<p>Рухлядева Оксана Леонидовна работает в&nbsp;ООО «Элемент Лизинг» с&nbsp;2008&nbsp;года. С&nbsp;августа 2008 года по&nbsp;июль 2018 года Оксана занимала должность Начальника управления финансового учета&nbsp;— Главного бухгалтера. В&nbsp;июле 2018 года назначена Финансовым директором ООО «Элемент Лизинг». </p><p>До&nbsp;прихода в&nbsp;компанию Оксана Леонидовна работала главным бухгалтером в&nbsp;лизинговой компании «Технолизинг», входящую в&nbsp;группу компаний «Русский уголь». </p><p>Оксана Рухлядева окончила Ижевскую государственную сельскохозяйственную академию по&nbsp;специальности «Бухгалтерский учет, анализ, аудит». Имеет сертификат профессионального главного бухгалтера IFAC и&nbsp;диплом АССА по&nbsp;Международной финансовой отчетности.</p>"
						}
					]
				} %}
			</div>
		</div>		
	</div>
</main>