<main class="{{content_prefix}}panel  {{content_mod}}">
	<div class="{{content_prefix}}container container  is--full">
		{% include "../../common/breadcrumb/tpl.twig" with {
			prefix:prefix.breadcrumb, 
			mod:bread_mod, 
			bread:bread
		} %}	
		{% include "../../common/page-header/tpl.twig" with {
			prefix:"page-header__", 
			mod:heading_mod, 
			group:heading_group, 
			level:heading_level, 
			heading:heading
		} %}	
		<div class="{{content_prefix}}row  grid__row   is--page-aside">
			{% include "../../common/aside/tpl.twig" with {
				prefix: "aside__",
				heading: "Другие разделы",
				active: page.reviews,
				nav:[
					{name:"Инвесторам", link: ""},
					{name:"Отзывы", link: page.reviews},
					{name:"Новости", link: page.news},
					{name:"Новости для инвесторов", link: ""},
					{name:"Руководство", link: page.menedzhment},
					{name:"Цифры и факты", link: ""},
					{name:"Преимущества", link: ""},
					{name:"Вакансии", link: page.vacancies},
					{name:"Наши офисы", link: page.contacts}
				]
			} %}
			<div class="grid__cols">
				{% include "../../common/card/card.twig" with {
					view: "reviews",
					prefix: prefix.card,
					mod: 'is--reviews',
					list:[
						{
							firm:"ООО «Савтрансавто» (Ростов-на-Дону)", 
							date:"20.11.2019 15:37:00", 
							date_iso:"2019-11-20",
							note: "<p>Если кратко, то я работаю с «Элемент Лизинг» из-за одного человека. Это Денис Довгалев, сотрудник компании. Денис – настоящий профессионал своего дела, побольше бы таких!</p>",
							name:"Иванов Олег Иванович", 
							city:"г. Ростов-на-Дону", 
							email: "glav.buh@savtransavto.com", 
							video: true 
						},
						{
							firm:"ИП Фомин Александр Константинович (Тамбов)", 
							date:"20.11.2019 15:37:00", 
							date_iso:"2019-11-20",
							note: "<p>С компанией «Элемент Лизинг» я был знаком еще по прежней работе. Я был начальником СТО, а несколько новых автомобилей были куплены в лизинг как раз в этой компании. Поэтому, при возникновении каких-то вопросов по этим машинам, например, в случае аварии и т.д., я звонил менеджеру Марии Кривопаловой, которая всегда помогала. Недавно я открыл свое дело, и возникла необходимость в собственном автопарке. Конечно, я начал с изучения рынка лизинговых компаний. Сравнил условия нескольких топовых компаний и выбрал «Элемент Лизинг». Сейчас я также продолжаю работать с Марией Кривопаловой, но теперь уже в другом статусе.</p><p>Мария предложила оптимальные условия финансирования и по-человечески вникла в ситуацию, в отличие от сотрудников «ВТБ-лизинг». Очень удобно то, что у Марии плотные трудовые отношения с автосалоном ГАЗ. В ближайшее время я планирую приобрести 10 единиц ГАЗ-3302 и уже предупредил об этом Машу (смеется)!</p>",
							name:"Фомин Александр Константинович (ИП)", 
							city:"г. Тамбов"
						},
						{
							firm:"ООО «Савтрансавто» (Ростов-на-Дону)", 
							date:"20.11.2019 15:37:00", 
							date_iso:"2019-11-20",
							note: "<p>Если кратко, то я работаю с «Элемент Лизинг» из-за одного человека. Это Денис Довгалев, сотрудник компании. Денис – настоящий профессионал своего дела, побольше бы таких! Денис – настоящий профессионал своего дела, побольше бы таких!</p>",
							name:"Иванов Олег Иванович", 
							email: "glav.buh@savtransavto.com", 
							video: true 
						}
					]
				} %}
				{% include "../../common/pagination/tpl.twig" with {
				 	prev: "true", 
				 	next: "true", 
				 	view: "news", 
				 	prefix:prefix.pagination,
				 	group: "is--pagination", 
				 	active: "2",
				 	list: [
				 		{name: "1"},
				 		{name: "2"},
				 		{name: "3"},
				 		{name: "4"},
				 		{name: "5"},
				 		{name: "6"},
				 		{name: "7"},
				 		{name: "8"}
				 	]
				}%}
			</div>
		</div>		
	</div>
</main>