<main class="{{content_prefix}}panel  {{content_mod}}">
	<div class="{{content_prefix}}container container  is--full">
		{% include "../../common/breadcrumb/tpl.twig" with {
			prefix:prefix.breadcrumb, 
			mod:bread_mod, 
			bread:bread
		} %}	
		{% include "../../common/page-header/tpl.twig" with {
			prefix:"page-header__", 
			mod:heading_mod, 
			group:heading_group, 
			level:heading_level, 
			heading:heading
		} %}	
		<div class="{{content_prefix}}row  grid__row   is--page-aside">
			{% include "../../common/aside/tpl.twig" with {
				prefix: "aside__",
				group: "is--bottom",
				heading: "Другие разделы",
				active: page.reviews,
				nav:[
					{name:"Инвесторам", link: page.investors},
					{name:"Отзывы", link: page.reviews},
					{name:"Новости", link: page.news},
					{name:"Новости для инвесторов", link: ""},
					{name:"Руководство", link: page.menedzhment},
					{name:"Цифры и факты", link: ""},
					{name:"Преимущества", link: ""},
					{name:"Вакансии", link: page.vacancies},
					{name:"Наши офисы", link: page.contacts}
				]
			} %}
			<div class="grid__cols">
				{% include "../../common/card/card.twig" with {
					view: "reviews",
					prefix: prefix.card,
					mod: 'is--reviews',
					list:list
				} %}
				{% include "../../common/pagination/tpl.twig" with {
				 	prev: "true", 
				 	next: "true", 
				 	view: "news", 
				 	prefix:prefix.pagination,
				 	group: "is--pagination", 
				 	active: "2",
				 	list: [
				 		{name: "1"},
				 		{name: "2"},
				 		{name: "3"},
				 		{name: "4"},
				 		{name: "5"},
				 		{name: "6"},
				 		{name: "7"},
				 		{name: "8"}
				 	]
				}%}
			</div>
		</div>		
	</div>
</main>