.dropdown__{
	&card{
		&.is--block-map{
			margin: 0 0 20px;
			font-size: 16px;
			.media-breakpoint-up(@md; {
				z-index: 6;
				position: absolute;
				top: 30px;	
				left: 15px;
				width: 100%;
				max-width: 300px;
			});
			.media-breakpoint-up(@xl; {
				font-size: 18px;
				top: 60px;			
				max-width: 495px;				
			});
		}
	}
	&toggle{
		display: block;
		background-color: @white;
		padding: 8px 45px 8px 25px;
		box-shadow: 0 12px 24px 0 rgba(0,52,156,0.5);
		.icon-bottom(@c: '004d99'; @w: 10px; @h: auto);
		background-position: center right 25px;
		border: 1px solid @white;
		&[aria-expanded="true"]{
			border-color: @blue-c6;
		}
		.media-breakpoint-up(@xl; {
			background-position: center right 35px;
			padding: 25px 65px 25px 45px;
			.icon-bottom(@c: '004d99'; @w: 16px; @h: auto);
		});
	}
	&nav{
		width: 100%;
		margin-top: 0;
		padding: 15px 25px;
		background-color: @white;
		box-shadow: 0 12px 14px 0 rgba(0,52,156,0.25);
		font-size: 0.88em;
		height: 215px;
		overflow: auto;
		.media-breakpoint-up(@xl; {			
			padding: 15px 45px;
		});
	}
	&nav-list{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&nav-item{
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&nav-link{
		color: @black-98;
		&.is--active{
			color: @primary;
		}
	}
}